/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/04/2017, 07:36:20
    Author     : Allan Lisboa - Programmer WEB
*/

*{
    margin: 0;
    padding: 0;
    outline:  0;

    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.97em;
    font-weight: 400;

    line-height: 1.2em;
    letter-spacing: 0;

    box-sizing: border-box; 
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.banner img{
    width: 100% !important;
}

/* body{background: #F2F2F2;} */
h1{font-size: 1.4em; font-weight: 700;}
h2{font-size: 1.2em; font-weight: 400;}
h3{font-size: 1.1em; font-weight: 300;}
b, strong{font-weight: bold;}
small{font-size: 0.75em; color: #555;}
mark{padding: 5px 10px; background-color: #EEE;}
ul{list-style: none;}
img{border: none; max-width: 100%; vertical-align: middle;}
a img{border: none;}
a{text-decoration: none;}
.img-fluid{width: 100%;height: auto;}

/*CONTAINER*/
.container{float: left; width: 100%;}

.section-title{float: left; width: 100%; margin-bottom: 30px; text-align: center;}
.section-title h1{font-size: 2.4em; font-weight: 300; margin-bottom: 10px;}
.section-title .tagline{font-size: 1.4em; font-weight: 100;}
.section-title-nomargim, .articletitle-nomargim{margin: 0 !important;}

.article-title{float: left; width: 100%; margin-bottom: 30px;}
.article-title h1{font-size: 1.8em; margin-bottom: 3px;}
.article-title .tagline{font-size: 1.1em;}

/*FONT COLOR*/
.font-color-blue{color: #44a3f0;}
.font-color-green{color: #53b079;}
.font-color-yellow{color: #edb33a;}
.font-color-orange{color: #E16F4D;}
.font-color-red{color: #e95656;}

/*FLEXIVEIS*/
/* object,
embed,
video,
iframe,
iframe["style"]{
    max-width: 100%;
    height: auto;
} */

/*FORMS*/
.form-field{display: block; margin-bottom: 5px; font-size: 1.05em;}
.form-legend{font-size: 1.6em; font-weight: normal; margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px dotted #555;}
.legend{margin-bottom: 5px; width: 100%; float: left}

label{display: block; margin-bottom: 15px;}
input,
textarea,
button,
select{width: 100%; padding: 12px; border: 1px #E9E9E9 solid; color: #666; font-size: 1em;}
input[type="submit"],
input[type="reset"],
input[type="color"]{height: 40px; cursor: pointer;}

select{-webkit-appearance:none; -moz-appearance:none; appearance:none; background: #FFF url('../img/main_select.png')center right 15px no-repeat;}

::placeholder{color: #A6A6A6;}
:disabled{color: #CCC;}

.form-check .form-field{margin-bottom: 15px;}
.form-check label{display: inline-block; margin-right: 30px; padding: 8px 15px 10px 15px; background: #FBFBFB; cursor: pointer;}
.form-check input{float: left; width: auto; margin: 1px 10px 0 0; cursor: pointer;}

/*input[type="text"]:valid, 
input[type="email"]:valid, 
input[type="password"]:valid,
input[type="tel"]:valid,
select:valid, 
textarea:valid{background: #FFF; border: 1px #52af79 solid;}*/

/*FONT WHEIGHT*/
.font-thinm{font-weight: 100 !important;}
.font-light{font-weight: 300 !important;}
.font-normal{font-weight: 400 !important;}
.font-bold{font-weight: 700 !important;}

/*FONT SIZE*/
.font-zero{font-size: 0em;}
.font-size1{font-size: 1em;}
.font-size1b{font-size: 1.5em;}
.font-size2{font-size: 2em;}
.font-size2b{font-size: 2.5em;}
.font-size3{font-size: 3em;}
.font-size3b{font-size: 3.5em;}

/*MARGIN*/
.margin-top-0{margin-top: 0 !important;}
.margin-top-5{margin-top: 5px;}.margin-top-10{margin-top: 10px !important;}
.margin-top-15{margin-top: 15px;}.margin-top-20{margin-top: 20px;}
.margin-top-25{margin-top: 25px;}.margin-top-30{margin-top: 30px;}
.margin-top-35{margin-top: 35px;}.margin-top-40{margin-top: 40px;}
.margin-bottom-5{margin-bottom: 5px;}.margin-bottom-10{margin-bottom: 10px !important;}
.margin-bottom-15{margin-bottom: 15px;}.margin-bottom-20{margin-bottom: 20px;}
.margin-bottom-25{margin-bottom: 25px;}.margin-bottom-30{margin-bottom: 30px;}
.margin-bottom-35{margin-bottom: 35px;}.margin-bottom-40{margin-bottom: 40px;}
.margin-left-5{margin-left: 5px;}.margin-left-10{margin-left: 10px;}
.margin-left-15{margin-left: 15px;}.margin-left-20{margin-left: 20px;}
.margin-left-25{margin-left: 25px;}.margin-left-30{margin-left: 30px;}
.margin-left-35{margin-left: 35px;}.margin-left-40{margin-left: 40px;}
.margin-right-2{margin-right: 2px;}.margin-right-5{margin-right: 5px;}
.margin-right-10{margin-right: 10px;}
.margin-right-15{margin-right: 15px;}.margin-right-20{margin-right: 20px;}
.margin-right-25{margin-right: 25px;}.margin-right-30{margin-right: 30px;}
.margin-right-35{margin-right: 35px;}.margin-right-40{margin-right: 40px;}

/*PADDING*/
.padding-0{padding: 0 !important;}.padding-top-0{padding-top: 0 !important;}
.padding-bottom-0{padding-bottom: 0 !important;}.padding-right-0{padding-right: 0 !important;}
.padding-left-0{padding-top: 0px;}
.padding-top-5{padding-top: 5px;}.padding-top-10{padding-top: 10px;}
.padding-top-15{padding-top: 15px;}.padding-top-20{padding-top: 20px;}
.padding-top-25{padding-top: 25px;}.padding-top-30{padding-top: 30px;}
.padding-top-35{padding-top: 35px;}.padding-top-40{padding-top: 40px;}
.padding-bottom-5{padding-bottom: 5px;}.padding-bottom-10{padding-bottom: 10px;}
.padding-bottom-15{padding-bottom: 15px;}.padding-bottom-20{padding-bottom: 20px;}
.padding-bottom-25{padding-bottom: 25px;}.padding-bottom-30{padding-bottom: 30px;}
.padding-bottom-35{padding-bottom: 35px;}.padding-bottom-40{padding-bottom: 40px;}
.padding-left-5{padding-left: 5px;}.padding-left-10{padding-left: 10px;}
.padding-left-15{padding-left: 15px;}.padding-left-20{padding-left: 20px;}
.padding-left-25{padding-left: 25px;}.padding-left-30{padding-left: 30px;}
.padding-left-35{padding-left: 35px;}.padding-left-40{padding-left: 40px;}
.padding-right-5{padding-right: 5px;}.padding-right-10{padding-right: 10px;}
.padding-right-15{padding-right: 15px;}.padding-right-20{padding-right: 20px;}
.padding-right-25{padding-right: 25px;}.padding-right-30{padding-right: 30px;}
.padding-right-35{padding-right: 35px;}.padding-right-40{padding-right: 40px;}

/*BORDER*/
.border-none{border: none !important;}
.border-top-none{border-top: none !important;}
.border-bottom-none{border-bottom: none !important;}
.border-left-none{border-left: none !important;}
.border-right-none{border-right: none !important;}

/*HELPERS*/
.text-shadow{text-shadow: 1px 1px 0 #CCC;}
.box-shadow{box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3); -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.3);}
.radius{border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.round{border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;}
.last{margin-right: 0 !important;}
.clear{clear: both;}
.bg-none{background: none !important;}
.transition{transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s;}
.text-uppercase{text-transform: uppercase;}
.font-italic{font-style: italic;}

/*TEXT ALIGN*/
.align-left{text-align: left !important;}
.align-right{text-align: right !important;}
.align-center{text-align: center !important;}

/*FLOAT*/
.float-left{float: left !important;}
.float-right{float: right !important;}
.float-none{float: none !important;}

/*DISPLAY*/
.display-block{display: block;}
.display-inlineblock{display: inline-block;}
.display-inline{display: inline;}
.display-inlinetable{display: inline-table;}
.display-none{display: none !important;}

/*BOX*/
.box{width: auto; float: left;}
.box-line{width: 100%; float: left;}

.box-small{width: 22.75%; margin-right: 3%;}
.box-medium{width: 30%; margin-right: 5%;}
.box-large{width: 46.5%; margin-right: 7%;}
.box-full{width: 100%; margin-right: 0;}
.box-forthree{width: 64%;}
.box-forthreesmall{width: 30%;}

/*VÍDEO*/
.video{width: 100%; margin: 0;}
.video-small{width: 40%; margin: 0 30%;}
.video-medium{width: 60%; margin: 0 20%;}
.video-large{width: 80%; margin: 0 10%;}

/*BOTÕES*/
.btn{display: inline-block; padding: 10px 20px !important; background: #333; cursor: pointer; font-size: 1em; font-weight: 300; color: #FFF; }
.btn:hover{text-decoration: none !important;}
.btn-small{font-size: 0.9em; padding: 7px 12px !important;}
.btn-medium{font-size: 1.25em; padding: 15px 30px;}
.btn-large{font-size: 1.7em; padding: 20px 40px;}

.btn-blue{background-color: #0888CB; border-color: #4e99b7;}
.btn-blue:hover{background-color: #0F9BD8; border-color: #59aed1}
.btn-green{background-color: #59ab66; border-color: #4b9157;}
.btn-green:hover{background-color: #66c475; border-color: #59aa66;}
.btn-yellow{background-color: #edb33a; border-color: #d3a033;}
.btn-yellow:hover{background-color: #ffc13e; border-color: #e5ad38;}
.btn-red{background-color: #b26a6a; border-color: #995b5b;}
.btn-red:hover{background-color: #cc7979; border-color: #b26a6a;}
.btn-black{background-color: #1b1b1b; border-color: #000000;}
.btn-black:hover{background-color: #333333; border-color: #191919;}

/*TRIGGER
.trigger{float: left; width: 100%; padding: 25px; font-size: 1.2em; margin-bottom: 30px;}
.trigger-bottom{margin: 30px 0 0 0;}

.trigger-accept{background-color: #accc9a; color: #6b7f60;}
.trigger-infor{background-color: #9ab7cc; color: #60727f;}
.trigger-alert{background-color: #edb33a; color: #34495E;}
.trigger-error{background-color: #e69f9f; color: #996a6a;}*/

/*TRIGGER*/
.trigger{
    position: relative;
    width: 100%;
    padding: 15px;
    background: #333;
    font-size: 1em;
    font-weight: 500;
    color: #fff;
    margin-bottom: 15px;
}

.trigger-none{margin-bottom: 0;}
.trigger p{padding-left: 27px;}
.trigger a{color: #FFF; font-weight: bold;}
.trigger a:hover{text-decoration: none;}

.trigger-modal-box{
    position: fixed;
    top: 20px;
    right: 15px;
    width: 400px;
    max-width: 90%;
    z-index: 100;
}

.trigger-modal{
    position: relative;
    width: 100%;
    padding: 20px;
    background: #666;
    font-size: 1em;
    font-weight: 300;
    color: #fff;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    display: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.trigger-modal p{
    padding-left: 27px;
    font-size: 1.05em !important;
}

.trigger-modal::before, .trigger::before{float: left; width: 20px; margin-top: 2px; margin-right: 50px; position: absolute;}
.trigger-modal-success, .trigger-accept{background-color: #00B494;}
.trigger-modal-success::before, .trigger-accept::before{content: url('../img/pc_trigger_success.png');}
.trigger-modal-info, .trigger-infor{background-color: #0E96E5;}
.trigger-modal-info::before, .trigger-infor::before{content: url('../img/pc_trigger_info.png');}
.trigger-modal-alert, .trigger-alert{background-color: #FAAD50;}
.trigger-modal-alert::before, .trigger-alert::before{content: url('../img/pc_trigger_alert.png');}
.trigger-modal-error, .trigger-error{background-color: #F45563;}
.trigger-modal-error::before, .trigger-error::before{content: url('../img/pc_trigger_error.png');}

.trigger-remove{margin-bottom: 0;}

/*MODAL*/
.modal-container{display: none; z-index: 998; position: absolute;}
.modal{ width: 100%; height: 100%; overflow: hidden; z-index: 100; position: fixed; top: 0; left: 0;  z-index: 999; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.modal-bg{width: 100%; position: absolute; height: 100%; background: rgba(0,0,0,0.6);z-index: 1;}
.modal-box{max-width: 92%; max-height: 92%; margin: 0 auto; background: #FFF; z-index: 2; position: relative;}
.modal-box-action{width: 35px; height: 35px; line-height: 35px; border-radius: 50%; text-align: center; vertical-align: middle; background: #0071BC; color: #FFF; font-size: 1.35em; cursor: pointer; position: absolute; top: -10px; right: -10px;}
.modal-box-action:hover{ background: #0F9BD8;}
.modal-box-content{float: left; width: 100%;}
.modal-box-content p{ font-size: 1em; color: #666; text-align: justify; line-height: 1.3em;}
.modal-box-content input,
.modal-box-content select{ border-radius: 0 !important;  -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important;}
.modal-box-content input[type="submit"]{ background: #FFA71C; cursor: pointer; color: #FFF; border: 0;  padding: 10px 35px;  font-size: 1.15em; width: 100%;}
.modal-box-content-button{  width: 100%; margin: auto; text-align: center;}
.modal-box-large{ max-width: 800px;}
.modal-box-medium{ max-width: 600px;}
.modal-box-small{ max-width: 400px;}
.md-popup .modal-box{padding: 5px !important;}
.md-popup .modal-box-content{padding: 5px !important; max-height: 80%;}
.md-popup .modal-box-content img{width: 100%; max-width: 700px; max-height: 600px;}


/*ALERT*/
.alert-container{display: none;}
.alert{ width: 100%; height: 100%; overflow: hidden; z-index: 100; position: fixed; z-index: 100; display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.alert-bg{width: 100%; position: absolute; height: 100%; background: rgba(0,0,0,0.6); z-index: 1;}
.alert-box{ width: 92%; max-height: 92%; max-width: 530px; margin: 0 auto; background: #CCC; overflow: hidden; overflow-y: auto; z-index: 2; position: relative;}
.alert-box-action i{ color: #333; font-size: 1.35em; cursor: pointer; position: absolute; top: 10px; right: 10px;}
.alert-box-action i:hover{ color: #FFF;}
.alert-box-icon{ float: left; width: 100%; color: #FFF; text-align: center; padding-top: 20px; font-size: 6em;}
.alert-box-content{ float: left; width: 100%; padding:0 20px 20px 20px;  color: #FFF; text-align: center;}
.alert-box-content .title{  font-size: 2em; margin-bottom: 7px;  font-weight: 500;}
.alert-box-content p{ font-size: 1.1em; line-height: 1.3em;}
.alert-box-content a{ font-weight: bold; color: #FFF;}
.alert-box-content a:hover{ text-decoration: underline;}
.alert-err .alert-box{  background-color: #FF5252;}
.alert-err .alert-box-action i{color: #993038;}
.alert-succ .alert-box{ background-color: #50AD5D;}
.alert-succ .alert-box-action i{ color: #418447;}
.alert-infor .alert-box, .alert-confirm .alert-box{ background-color: #DB9E31;}
.alert-infor .alert-box-action i, .alert-confirm .alert-box-action i{ color: #BC771B;}

.alert-confirm .bt{ background: #FFF; padding: 10px 50px; font-size: 1.2em; font-weight: 300;color: #333; margin-right: 5px; margin-top: 5px;}
.alert-confirm a.bt{ display: inline-block;}
.alert-confirm a.bt:hover{ text-decoration: none !important;}
.alert-confirm .bt-noconfirm{ background: #fffae2;  color: #d23c3c;}
.alert-confirm .bt-noconfirm:hover{ background: #FFF;}
.alert-confirm .bt-confirm{ background: #f64e4e; color: #FFF;}
.alert-confirm .bt-confirm:hover{  background: #d23c3c;}


/***********************************
######## HTML CHARS CONFIG #########
***********************************/
.htmlchars{
    display: block;
    width: 100%;
}

.htmlchars h1{display: block; font-size: 2em; font-weight: 300; margin-bottom: 10px; font-family: 'Merriweather';}
.htmlchars h2{display: block; font-size: 1.8em; font-weight: 300; margin-bottom: 10px; font-family: 'Merriweather';}
.htmlchars h3{display: block; font-size: 1.6em; font-weight: 300; margin-bottom: 10px; font-family: 'Merriweather';}
.htmlchars p, .htmlchars blockquote, .htmlchars div, .htmlchars pre{line-height: 1.5em; font-size: 1.2em; margin-bottom: 15px; font-family: 'Merriweather'; font-weight: 300}
.htmlchars iframe{width: 100%; border: none; margin: 5px 0}
.htmlchars video{width: 100% !important; height: auto !important; margin: 5px 0}
.htmlchars audio{width: 100% !important; margin: 5px 0}
.htmlchars ul{list-style: circle; margin: 20px 30px;}
.htmlchars ol{margin: 20px 30px;}
.htmlchars blockquote{border-left: 4px solid #CCC; padding-left: 10px; margin-left: 20px;}
.htmlchars form{padding: 30px; background: #fbfbfb; margin: 20px 0; text-align: center; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.htmlchars form label{display: block; margin-bottom: 15px; font-size: 0.9em; text-transform: uppercase;}
.htmlchars form input,
.htmlchars form textarea{border: 1px solid #ccc; display: block; margin-top: 15px; font-size: 1em; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.htmlchars form button,
.htmlchars form input[type="submit"]{display: block; border: 0; color: #fff; text-shadow: 0 1px #000; cursor: pointer; padding: 15px 30px; font-size: 1.2em; font-weight: bold; text-transform: uppercase; background: #00B494; border-bottom: 5px solid #008068; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;}
.htmlchars form button:hover,
.htmlchars form input[type="submit"]:hover{background-color: #008068; border-color: #0B5747;}
.htmlchars a{color: #0E96E5; text-decoration: none;}
.htmlchars a:hover{text-decoration: underline;}
.htmlchars pre{margin-bottom: 30px; font-size: 0.8em;}
.htmlchars .btn{display: block; color: #fff;}
.htmlchars .btn:hover{text-decoration: none !Important;}
.htmlchars .align-right{float: right; margin-left: 10px;}
.htmlchars .align-left{float: left; margin-right: 10px;}
.htmlchars .align-center{margin: 5px auto;}
.htmlchars figure{position: relative; margin: 5px 0;}
.htmlchars img{height: auto;}
.htmlchars figcaption{color: #999; padding: 5px; text-align: left; font-weight: 100 !important;}
.htmlchars .img_caption, .htmlchars .img_caption_p{padding: 5px; color: #FFF; background: rgba(0,0,0,0.6)}

/*SHAREBOX*/
.sharebox{float: left; width: 100%; text-align: left;}
.sharebox li{display: inline-block; background: #CCC;  font-size: 1.4em;}
.sharebox a{float: left; padding: 8px 13px; color: #FFF;}
.sharebox .count{font-size: 0.875em; font-weight: 200;}

.sharebox .facebook{background-color: #45619D;}
.sharebox .facebook:hover{background-color: #778FC4;}
.sharebox .google{background-color: #DD4B39;}
.sharebox .google:hover{background-color: #E77D72;}
.sharebox .twitter{background-color: #55ACEE;}
.sharebox .twitter:hover{background-color: #9ED0F5;}


/*ENQUETE*/
.pc_enquete{width: 100%; float: left; padding: 20px; background: #E9E9E9;}
.pc_enquete .enquete_form{width: 100%; float: left; text-align: center;}
.pc_enquete h1{margin-bottom: 15px; width: 100%; float: left;}
.pc_enquete label{width: 100%; float: left; font-size: 1.15em; margin-bottom: 15px; border-bottom:1px dotted #CCC; padding-bottom: 4px;}
.pc_enquete label input{float: left; width: 20px; padding-top: 3px;}
.pc_enquete label span{float: left;}
.pc_enquete button{margin-bottom: 7px; font-size: 1.1em}
.pc_enquete .view_results{width: 100%; text-align: center; color: #333;}
.pc_enquete .view_results:hover{color: #0071BC}

.pc_enquete .enquete_results{width: 100%; float: left;}
.pc_enquete .enquete_results h1{font-size: 1.1em; font-weight: 400; margin-bottom: 0 !important;}
.pc_enquete .percent_bar{width: 100%; float: left; height: 10px; margin-bottom: 10px;}
.pc_enquete .percent{height: 10px; min-width: 2px; background: #0071BC;}
.pc_enquete .total_votes{font-size: 1.1em; font-weight: 600;}

/*520PX BREAKPOINT*/ 
@media (min-width: 32.5em){
    /*MODAL*/
    .modal-box-content{
        padding: 30px;
    }
}

/*620PX BREAKPOINT*/ 
@media (min-width: 38.75em){
    /*MODAL*/
    .modal-box .header{
        padding: 20px;
    }
    .modal-box-content{
        padding: 40px;
    }
    .modal-box-content input[type="submit"]{
        font-size: 1.2em;
    }
    .modal-box-content-button{
        width: 40%;
    }
    
    /*ALERT*/
    .alert-box{
        padding: 30px;
    }
    .alert-box-icon{
        float: left;
        width: 100%;
        max-width: 20%;
        padding-top: 0;
    }
    .alert-box-content{
        float: left;
        width: 100%;
        max-width: 80%;
        text-align: left;
        padding: 15px;
    }
}

