/***********************************
############## HOME ################
***********************************/
.content_home {
	float: left;
	width: 92%;
	margin: 0 4%;
	padding: 15px 0;
}

.main_home_header {
	position: relative;
	background: url('../img/main_home_bg.png') top center no-repeat #00a1d8;
	border-top: 7px solid #0888cb;
	border-bottom: 7px solid #ddd;
	text-align: center;
}
.main_home_header_logo img {
	width: 112px;
}
.main_home_header_estados {
	margin-top: 20px;
}
.main_home_header_estados .flag_large {
	display: none;
}
.main_home_header_estados button {
	padding: 0;
	margin: 0;
	outline: 0;
	background: none;
	border: none;
	cursor: pointer;
}

.main_home_title {
	font-size: 1.7em;
	color: #023f65;
	text-align: center;
	margin: 10px 0 15px 0;
}
.main_home_title mark {
	color: #fff;
	background: #0888cb;
}
.main_home_title p {
	margin-top: 10px;
}

.main_home_ultimas {
	float: left;
	width: 100%;
}

.main_home_box_news {
	width: 100%;
	float: left;
	background: #fff;
	margin-bottom: 15px;
}
.main_home_box_news img {
	float: left;
	max-width: 40%;
}
.main_home_box_news .categoria,
.main_home_box_news .tagline {
	text-transform: uppercase;
	font-size: 0.85em;
	float: left;
}
.main_home_box_news .categoria {
	color: #fff;
}
.main_home_box_news .tagline {
	margin-left: 5px;
}
.main_home_box_news time {
	float: right;
	font-size: 0.8em;
	color: #ccc;
}
.main_home_box_news h1 {
	margin-top: 5px;
	font-size: 1.26em;
}
.main_home_box_news_desc {
	max-width: 60%;
	float: left;
	padding: 10px;
}
.main_home_box_news_desc img {
	float: left;
	margin-top: 2px;
}

.main_home_footer_copy {
	font-size: 0.83em;
	color: #b3b3b3;
	text-align: center;
}

.progress_bar {
	width: 100%;
	background: #ccc;
	position: relative;
	float: left;
}
.progress_bar .bar {
	background: #0e96e5;
	color: #fff;
	text-align: center;
	padding: 2px;
	max-width: 100%;
	font-size: 13px;
}

/***********************************
############ CONTAINER #############
***********************************/
.content {
	float: left;
	width: 92%;
	margin: 0 4%;
	padding: 10px 0;
}

/***********************************
######## BACKGROUND COLOR ##########
***********************************/
.bg_blue_1 {
	background: #00a1d8;
}
.bg_blue_2 {
	background-color: #0888cb;
}
.bg_blue_3 {
	background-color: #023f65;
}

/***********************************
############# HEADER ###############
***********************************/
.main_header_content,
.main_header {
	position: relative;
}

.main_header_topo {
	text-transform: uppercase;
	font-size: 0.8em;
	background: rgba(255, 255, 255, 0.15);
}
.main_header_topo a {
	color: #fff;
}
.main_header_topo a.active,
.main_header_topo a:hover {
	color: #333;
}
.main_header_topo_data {
	float: left;
	cursor: pointer;
}
.main_header_topo_estados {
	float: right;
	cursor: pointer;
}
.main_header_topo_estados img {
	float: left;
	margin-right: 3px;
	margin-top: -1px;
}
.main_header_topo_estados p {
	float: left;
}
.main_header_topo_social {
	display: none;
	color: #fff;
	float: right;
}
.main_header_topo_social p {
	display: inline;
	margin: 3px 4px 0 0;
}
.main_header_topo_social p {
	float: left;
}
.main_header_topo_social .social {
	float: left;
}
.main_header_topo_social .social_item {
	margin-right: 0;
}
.main_header_topo_social .social_item a {
	width: 17px;
	height: 17px;
	line-height: 17px;
}

.main_header_estados,
.main_header_publicidade {
	background: rgba(255, 255, 255, 0.15);
	display: none;
}

.main_header_estados {
	width: 100%;
	float: left;
}
.main_header_estados p {
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 5px;
	font-family: 'Merriweather', serif;
	font-size: 1.1em;
}
.estados {
	float: left;
	width: 100%;
	text-align: left;
}
.estados li {
	float: left;
	width: 48%;
	max-width: 172px;
	margin-right: 4%;
}
.estados li:last-of-type {
	margin-right: 0;
}
.estados img {
	width: 100%;
	max-width: 172px;
}
.estados button {
	padding: 0;
	border: none;
	outline: 0;
	cursor: pointer;
	background: none;
}

.main_header_logo img {
	max-width: 200px;
}

.main_header_estados .estados,
.main_header_estados .social_box {
	margin-bottom: 15px;
}
.main_header_estados .social_box {
	float: left;
}
.main_header_estados .social_box:nth-of-type(2n + 0) {
	margin-right: 0;
}

.social_item {
	display: inline-block;
	margin-right: 6px;
	text-align: center;
	font-size: 1.2em;
}
.social_item a {
	width: 33px;
	height: 33px;
	line-height: 33px;
	background: #fff;
	display: block;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
}
.social_item a:hover {
	background: #002f44;
	color: #fff !important;
}
.social_item a.facebook {
	color: #0071bc;
}
.social_item a.twitter {
	color: #29abe2;
}
.social_item a.google {
	color: #bf6045;
}
.social_item a.whatsapp {
	color: #128c7e;
}
.social_item a.telegram {
	color: #29abe2;
}
.social_item a.youtube {
	color: #ed1c24;
}
.social_item a.instagram {
	color: #c1272d;
}

.box_social {
	margin-bottom: 10px;
	display: block;
}
.box_social p {
	color: #333;
}
.box_social ul.social_compartilha {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}
.box_social ul.social_compartilha li {
	display: inline;
}
.box_social ul.social_compartilha li a {
	font-size: 2.5em;
}
.box_social ul.social_compartilha li a .facebook{
	padding:7px 13px;
	background:#3b5998;
	color:#fff;
	border-radius: 50%;
}
.box_social ul.social_compartilha li a .youtube{
	padding:7px 9px;
	background:#bb0000;
	color:#fff;
	border-radius: 50%;
}
.box_social ul.social_compartilha li a .instagram{
	padding:7px 9px;
	background:#517fa4;
	color:#fff;
	border-radius: 50%;
}
.box_social ul.social_compartilha li a .twitter{
	padding:7px 9px;
	background:#00aced;
	color:#fff;
	border-radius: 50%;
}
.box_social ul.social_compartilha li a .telegram{
	padding:7px 7px;
	background:#0088cc;
	color:#fff;
	border-radius: 50%;
}
.box_social ul.social_compartilha li a .whatsapp{
	padding:7px 9px;
	background:#34af23;
	color:#fff;
	border-radius: 50%;
}

.main_header_content {
	border-bottom: 4px solid #333;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.main_header_content .logo {
	float: left;
}
.main_header_content .main_banner_728 {
	display: none;
}

.main_header_ultimas {
	width: 100%;
	float: left;
	text-align: center;
	background: #fff;
	border-bottom: 3px solid #e6e6e6;
	display: none;
}
.main_header_ultimas_item {
	display: none;
}
.main_header_ultimas_item.first {
	display: block;
}
.main_header_ultimas_item h1 {
	font-size: 1em;
	font-weight: 400;
}
.main_header_ultimas_item i {
	font-size: 1.1em;
}
.main_header_ultimas_item a {
	color: #666;
}
.main_header_ultimas_item a:hover {
	color: #222;
}
.main_header_ultimas_item ul {
	/* text-transform: uppercase; */
	font-size: 0.91em;
}
.main_header_ultimas_item li {
	display: inline;
}
.main_header_ultimas_item li a {
	display: inline-block;
	padding: 10px 14px;
	margin-right: 5px;
}
.main_header_ultimas_item li a.active {
	background: #ddd;
}

/*MENU MOBILE*/
.main_mobile_action {
	position: absolute;
	top: 25px;
	right: 0;
	width: 47px;
	height: 47px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	cursor: pointer;
}
.main_mobile_action:hover {
	background: #fff;
	color: #333;
}
.main_mobile_action i {
	font-size: 1.6em;
	padding-top: 13px;
}
.main_mobile_action.active {
	background: rgba(255, 255, 255, 0.2);
	color: #333;
}
.main_mobile_action.active:hover {
	background: #fff;
	color: #333;
}

.main_header_nav {
	position: fixed;
	width: 70%;
	max-width: 350px;
	text-align: left;
	height: 100%;
	top: 0;
	left: -100%;
	background: #023751;
	overflow: hidden;
	overflow-y: auto;
	z-index: 99;
}
.main_header_nav_item {
	/* text-transform: uppercase; */
	font-size: 1em;
	float: left;
	width: 100%;
	position: relative;
}
.main_header_nav_item > a {
	width: 100%;
	float: left;
	color: #fff;
	display: block;
	padding: 12px;
}
.main_header_nav_item:hover,
.main_header_nav_item > a:hover {
	background: #002f44;
}
.main_header_nav_sub {
	width: 100%;
	padding: 12px 10px;
	background: #003f5b;
	float: left;
}
.main_header_nav_sub_item {
	float: left;
	width: 100%;
}
.main_header_nav_sub_item > a {
	float: left;
	width: 100%;
	padding: 15px;
	/* text-transform: uppercase; */
	text-decoration: none;
	color: #fff;
}
.main_header_nav_sub_item > a:hover {
	background: #003851;
}

.main_header_nav_search {
	width: 100%;
	float: left;
	background: #023042;
	padding: 25px 20px;
}
.main_header_nav_search .search {
	width: 80%;
	float: left;
	border: none;
}
.main_header_nav_search .button {
	width: 20%;
	float: left;
	border: none;
	margin: 0;
	cursor: pointer;
	background: #0398f6;
	color: #fff;
	font-size: 1.49em;
	padding: 8px;
}
.main_header_nav_search .button:hover {
	background: #0888cb;
}

/*MENU DESKTOP*/
.fixed_menu {
	position: fixed !important;
	top: 0 !important;
	background-color: #023f65 !important;
	z-index: 999;
	border-bottom: #fff solid 8px;
}

.main_header_nav_desktop {
	width: 100%;
	float: left;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	position: relative;
	padding: 0;
	font-size: 1em;
	padding: 0 4%;
}
.main_header_nav_desktop .ultimas {
	padding: 15px 13px;
	background: #fff;
	/* text-transform: uppercase; */
	color: #023f65;
	float: left;
	font-size: 0.92em;
}
.main_header_nav_desktop_item {
	/* text-transform: uppercase; */
	color: #023f65;
	float: left;
	display: none;
}
.main_header_nav_desktop_item > a {
	padding: 15px 12px;
	color: #fff;
	display: block;
}
.main_header_nav_desktop_item:hover,
.main_header_nav_desktop_item > a:hover {
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
}
.main_header_nav_desktop_item.active a {
	background: #fff;
	color: #333;
}

.main_header_nav_desktop_sub {
	display: none;
	border-top: 3px solid rgba(0, 0, 0, 0.9);
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;
	text-align: left;
	z-index: 98;
	padding: 10px;
	border-bottom: 3px solid #ccc;
}
.main_header_nav_desktop_item:hover .main_header_nav_desktop_sub,
.main_header_nav_desktop_item a:hover .main_header_nav_desktop_sub {
	display: block;
}
.main_header_nav_desktop_sub .item {
	width: 23.5%;
	float: left;
	margin-right: 2%;
	padding: 0;
}
.main_header_nav_desktop_sub .item:nth-of-type(4n + 0) {
	margin-right: 0;
}
.main_header_nav_desktop_sub .main_box_news_desc {
	padding: 0;
	text-transform: none;
}

.main_header_nav_desktop_sub_list {
	width: 23.5%;
	float: left;
	/* text-transform: uppercase; */
}
.main_header_nav_desktop_sub_list .title {
	color: #000;
	font-weight: bold;
	font-size: 1.5em;
	margin-bottom: 12px;
}
.main_header_nav_desktop_sub_item {
	width: 100%;
	float: left;
	padding: 6px 0;
	font-size: 1.15em;
}
.main_header_nav_desktop_sub_item a {
	color: #333;
}
.main_header_nav_desktop_sub_item a:hover {
	color: #666;
}

.main_header_nav_search_desktop_button {
	display: none;
	width: 40px;
	float: right;
	border: none;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	font-size: 1.5em;
	padding: 10px;
}
.main_header_nav_search_desktop_button:hover {
	background: #fff;
	color: #000;
}
.main_header_nav_search_desktop_button.active {
	background: #333;
	color: #fff;
}
.main_header_nav_search_desktop {
	right: 40px;
	top: 0;
	margin-right: 4%;
	position: absolute;
	width: 100%;
	max-width: 250px;
	display: none;
}
.main_header_nav_search_desktop input {
	float: left;
	width: 82%;
	background: #333;
	color: #fff;
	border: none;
	font-size: 1.16em;
}
.main_header_nav_search_desktop button {
	cursor: pointer;
	float: left;
	width: 18%;
	background: #0071bc;
	color: #fff;
	border: none;
	font-size: 1.16em;
	border-right: 1px dotted #666;
}
.main_header_nav_search_desktop button:hover {
	background: #fff;
	color: #333;
	border: none;
}

/* SEARCH */
.dashboard_search_container {
	display: none;
	z-index: 120;
	position: absolute;
}
.dashboard_search {
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}
.dashboard_search_bg {
	width: 100%;
	position: absolute;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.dashboard_search_form {
	position: relative;
	width: 750px;
	max-width: 92%;
	margin: 0 auto;
	z-index: 2;
	background: #333;
	overflow-y: auto;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.7);
}
.dashboard_search_form input[type="text"] {
	background: #333;
	outline: none;
	border: none;
	padding: 15px;
	color: #ccc;
	width: 85%;
	font-size: 1.4em;
}
.dashboard_search_form:before {
	content: url('../_img/pc_search_icon.png');
	float: right;
	margin: 15px 15px 0 0;
}
.dashboard_search_form button {
	position: absolute;
	right: 5px;
	top: 0;
	background: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.7em;
	width: fit-content;
	border: none;
}

/***********************************
############# CONTENT ##############
***********************************/
/* BANNERS */
.main_banner,
.main_banner_728,
.main_banner_300 {
	width: 100%;
	float: left;
	background: #f5f5f5;
	text-align: center;
}
.banner_220 {
	display: none;
}

/* SIDEBAR */
.main_sidebar {
	display: none;
}

/* BOX NEWS ITEM */
.main_box_news {
	width: 100%;
	float: left;
	background: #fff;
	margin-bottom: 15px;
}
.main_box_news .main_box_news_desc {
	padding: 15px;
	min-height: 135px;
}
.main_box_news .categoria,
.main_box_news .tagline {
	text-transform: uppercase;
	font-size: 0.85em;
	float: left;
	font-weight: bold;
}
.main_box_news .categoria {
	color: #fff;
}
.main_box_news .tagline {
	padding: 5px 8px;
}
.main_box_news time {
	float: right;
	font-size: 0.8em;
	color: #999;
}
.main_box_news h1 {
	margin-top: 10px;
}
.main_box_news_desc {
	position: relative;
}
.main_box_news_desc .social {
	position: absolute;
	top: 0;
	margin-top: -45px;
	left: 15px;
}
.main_box_news_desc .social_item {
	margin-right: 2px;
}
.main_box_news_desc .social_item a {
	background: rgba(255, 255, 255, 0.5);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.main_box_news_desc .social_item a:hover {
	background: rgba(255, 255, 255, 1);
	color: #002f44 !important;
}

.main_box_white {
	background: #fff;
}
.main_box_white a {
	color: #333;
}
.main_box_white a:hover {
	color: #666;
}

.main_box_gray {
	background: #333;
	color: #fff;
}
.main_box_gray a {
	color: #fff;
}
.main_box_gray a:hover {
	color: #ccc;
}

/* SLIDE MOBILE */
.main_slide {
	position: relative;
	margin: 15px 0;
}
.slide_mobile_item {
	position: relative;
	display: none;
}
.slide_mobile_item.first {
	display: block;
}
.slide_controll {
	position: absolute;
	width: 100%;
	top: 35%;
	z-index: 98;
}
.slide_nav {
	position: absolute;
	color: #fff;
	font-size: 2em;
	cursor: pointer;
}
.slide_nav:hover {
	color: rgba(0, 0, 0, 0.5);
}
.slide_nav.back {
	left: 0;
	margin-left: 15px;
}
.slide_nav.go {
	right: 0;
	margin-right: 15px;
}
.slide_mobile_item i {
	left: 50%;
	margin-left: -30px;
	color: #fff;
	position: absolute;
	top: 32%;
	font-size: 2em;
	background: rgba(0, 0, 0, 0.6);
	width: 60px;
	height: 60px;
	border: 2px solid #fff;
	text-align: center;
	line-height: 57px;
}
.slide_mobile_item i:hover {
	background: rgba(193, 64, 64, 0.6);
}

/* SLIDE DESKTOP */
.main_slide_destaques {
	width: 100%;
	float: left;
	/* border-top: 4px solid #0888cb; */
	display: none;
}
.main_slide_destaques .categoria,
.main_slide_destaques .tagline {
	text-transform: uppercase;
	font-size: 0.85em;
	float: left;
}
.main_slide_destaques .categoria {
	color: #fff;
}
.main_slide_destaques .tagline {
	padding: 5px 8px;
}
.main_slide_destaques time {
	float: right;
	font-size: 0.8em;
	color: #ccc;
}
.main_slide_destaques_item {
	position: relative;
	display: none;
}
.main_slide_destaques_item.first {
	display: block;
}
.main_slide_destaques_item_desc {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	padding: 20px;
	color: #fff;
}
.main_slide_destaques_item_desc .title {
	margin-top: 10px;
	font-size: 1.9em;
	font-weight: 700;
}
.main_slide_destaques_item_desc a {
	color: #fff;
}
.main_slide_destaques_item_desc a:hover {
	color: #ccc;
}
.main_slide_destaques_click {
	width: 100%;
	float: left;
}
.main_slide_destaques_item_click {
	position: relative;
	cursor: pointer;
	width: 33.333333333333333%;
	float: left;
	height: 110px;
	background: #fff;
	border-right: 1px solid #ccc;
	padding: 15px;
}
.main_slide_destaques_item_click:hover {
	background: #202020;
	color: #fff;
}
.main_slide_destaques_item_click:nth-of-type(3n + 0) {
	border-right: none;
}
.main_slide_destaques_item_click.active {
	background: #202020;
	color: #fff;
}
.main_slide_destaques_item_click .title {
	margin-top: 7px;
	font-size: 1.15em;
	font-weight: 700;
}

.main_slide_videos {
	width: 100%;
	float: left;
	display: none;
}
.main_slide_videos .categoria,
.main_slide_videos .tagline {
	text-transform: uppercase;
	font-size: 0.85em;
	float: left;
}
.main_slide_videos .categoria {
	color: #fff;
}
.main_slide_videos .tagline {
	padding: 5px 8px;
}
.main_slide_videos time {
	float: right;
	font-size: 0.8em;
	color: #ccc;
}
.main_slide_videos_item {
	position: relative;
	display: none;
}
.main_slide_videos_item.first {
	display: block;
}
.main_slide_videos_item i {
	left: 50%;
	margin-left: -30px;
	color: #fff;
	position: absolute;
	top: 32%;
	font-size: 2em;
	background: rgba(0, 0, 0, 0.6);
	width: 60px;
	height: 60px;
	border: 2px solid #fff;
	text-align: center;
	line-height: 57px;
}
.main_slide_videos_item i:hover {
	background: rgba(193, 64, 64, 0.6);
}
.main_slide_videos_item_desc {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	padding: 20px;
	color: #fff;
}
.main_slide_videos_item_desc .title {
	margin-top: 10px;
	font-size: 1.9em;
	font-weight: 700;
}
.main_slide_videos_item_desc a {
	color: #fff;
}
.main_slide_videos_item_desc a:hover {
	color: #ccc;
}
.main_slide_videos_click {
	width: 100%;
	float: left;
}
.main_slide_videos_item_click {
	cursor: pointer;
	width: 33.333333333333333%;
	position: relative;
	color: #fff;
	float: left;
	height: 110px;
	background: #202020;
	border-right: 1px solid #666;
	padding: 15px;
}
.main_slide_videos_item_click:hover {
	background: #fff;
	color: #333;
}
.main_slide_videos_item_click:nth-of-type(3n + 0) {
	border-right: none;
}
.main_slide_videos_item_click.active {
	background: #fff;
	color: #333;
}
.main_slide_videos_item_click .title {
	margin-top: 7px;
	font-size: 1.15em;
	font-weight: 700;
}

.main_slide_galeria {
	width: 100%;
	float: left;
	display: none;
}
.main_slide_galeria .categoria,
.main_slide_galeria .tagline {
	text-transform: uppercase;
	font-size: 0.85em;
	float: left;
}
.main_slide_galeria .categoria {
	color: #fff;
}
.main_slide_galeria .tagline {
	padding: 5px 8px;
}
.main_slide_galeria time {
	float: right;
	font-size: 0.8em;
	color: #ccc;
}
.main_slide_galeria_item {
	position: relative;
	display: none;
}
.main_slide_galeria_item.first {
	display: block;
}
.main_slide_galeria_item i {
	left: 50%;
	margin-left: -30px;
	color: rgba(255, 255, 255, 0.3);
	position: absolute;
	top: 37%;
	font-size: 3em;
	text-align: center;
}
.main_slide_galeria_item i:hover {
	color: rgba(255, 255, 255, 0.7);
}
.main_slide_galeria_item_desc {
	position: absolute;
	width: 100%;
	bottom: 0;
	background: rgba(0, 0, 0, 0.6);
	padding: 20px;
	color: #fff;
}
.main_slide_galeria_item_desc .title {
	margin-top: 10px;
	font-size: 1.9em;
	font-weight: 700;
}
.main_slide_galeria_item_desc a {
	color: #fff;
}
.main_slide_galeria_item_desc a:hover {
	color: #ccc;
}
.main_slide_galeria_click {
	width: 100%;
	float: left;
}
.main_slide_galeria_item_click {
	cursor: pointer;
	width: 33.333333333333333%;
	position: relative;
	color: #fff;
	float: left;
	height: 110px;
	background: #202020;
	border-right: 1px solid #666;
	padding: 15px;
}
.main_slide_galeria_item_click:hover {
	background: #fff;
	color: #333;
}
.main_slide_galeria_item_click:nth-of-type(3n + 0) {
	border-right: none;
}
.main_slide_galeria_item_click.active {
	background: #fff;
	color: #333;
}
.main_slide_galeria_item_click .title {
	margin-top: 7px;
	font-size: 1.15em;
	font-weight: 700;
}

.main_slide_destaques_item_click:nth-of-type(4n + 0),
.main_slide_videos_item_click:nth-of-type(4n + 0),
.main_slide_galeria_item_click:nth-of-type(4n + 0) {
	display: none;
}

.main_midia_icon {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #c1272d;
	font-size: 0.8em;
	color: #fff;
	padding: 3px 6px;
	text-transform: uppercase;
}
.main_midia_icon i {
	font-size: 1.2em;
}

/* MAIS DESTAQUES */
.main_mais_destaques .item:nth-of-type(6n + 0),
.main_mais_destaques .item:nth-of-type(7n + 0),
.main_mais_destaques .item:nth-of-type(8n + 0),
.main_mais_destaques .item:nth-of-type(9n + 0),
.main_mais_destaques .item:nth-of-type(10n + 0) {
	display: none;
}

/* MAIS NOTÍCIAS */
.main_mais_noticias .item:nth-of-type(4n + 0),
.main_mais_noticias .item:nth-of-type(5n + 0),
.main_mais_noticias .item:nth-of-type(6n + 0) {
	display: none;
}

/* OUTRAS NOTÍCIAS */
.main_outras_noticias .item:nth-of-type(5n + 0),
.main_outras_noticias .item:nth-of-type(6n + 0) {
	display: block;
}
.main_outras_noticias .item:nth-of-type(7n + 0),
.main_outras_noticias .item:nth-of-type(8n + 0) {
	display: none;
}

/* JORNAL */
.main_jornal {
	width: 100%;
	float: left;
	margin-bottom: 25px;
	background: #fff;
	border-top: 4px solid #e6e6e6;
	text-align: center;
}
/*.main_jornal h1{padding: 15px;}*/
.main_jornal .tagline {
	background: #c1272d;
	color: #fff;
	padding: 8px;
}
.main_jornal_content {
	padding: 7px;
	background: #0888cb;
}

/* EVENTOS */
.box_evento {
	overflow-y: scroll;
	max-height: 535px;
	margin-bottom: 15px;
}


/* MAGAZINE */
.main--magazine{
	margin-bottom: 15px
}
.main--magazine .title--magazine{
	background-color: #ff8000;
	color: #fff;
	padding: 10px;
	border-radius: 6px;
	font-size: 1.5em;
	margin-bottom:10px
}
.main--magazine .scroll{
	padding: 0 20px;
	max-height: 330px;
	overflow-y: scroll;
}
.main--magazine .scroll .list{
	margin-bottom:13px;
}
.main--magazine .scroll .list a{
	color: #ff8000;
}
.main--magazine .scroll .list a img{
	border-radius: 6px;
}
.main--magazine .scroll .list a h2{
	margin-top:5px;
	font-size: 1.3em;
	text-align: center;
}

/* COLUNISTAS */
.main_colunistas {
	width: 100%;
	float: left;
}
.box-colunista{
	overflow: scroll;
	max-height: 535px;
}
.main_colunistas h1 a {
	text-transform: uppercase;
	color: #4d4d4d;
	font-family: 'Merriweather', serif;
}
.main_colunistas h1 a:hover {
	color: #0071bc;
}
.main_colunistas_item {
	width: 100%;
	float: left;
	margin-top: 15px;
	text-align: center;
	position: relative;
}
.main_colunistas_item_content .link {
	color: #000;
}
.main_colunistas_item_content .link:hover {
	color: #0071bc;
}
.main_colunistas_item img {
	position: absolute;
	left: 50%;
	width: 160px;
	margin-left: -80px;
}
.main_colunistas_item_content {
	background: #fff;
	width: 100%;
	padding: 70px 20px 20px 20px;
	margin-top: 100px;
}
.main_colunistas_item_content .btn {
	text-transform: uppercase;
}
.main_colunistas_item_content h1,
.main_colunistas_item_content .tagline {
	margin-bottom: 7px;
}

/* RÁDIO ONLINE */
.main_radio {
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 20px;
	background: #fff;
	border-top: 4px solid #0888cb;
	padding: 15px;
}
.main_radio h1 {
	text-transform: uppercase;
	font-size: 1.7em;
}
.main_radio i {
	color: #333;
	font-size: 1.6em;
}
.main_radio i:hover,
.main_radio span {
	color: #0888cb;
}
.main_radio span {
	font-weight: bold;
}

/* RÁRIO PARCEIRA */
.main_radio_parceira {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}

/* VÍDEOS EM DESTAQUE */
.main_videos h1.title {
	width: 100%;
	float: left;
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom: 4px solid #c1272d;
	color: #c1272d;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	text-align: center;
}
.main_videos .title i {
	font-size: 1.3em;
}

/* GALERIAS EM DESTAQUE */
.main_galeria h1.title {
	width: 100%;
	float: left;
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom: 4px solid #0071bc;
	color: #0071bc;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	text-align: center;
}
.main_galeria .title i {
	font-size: 1.2em;
}

/* PODCAST */
.main_podcast {
	width: 100%;
	float: left;
	background: #e6e6e6;
	margin-bottom: 20px;
	position: relative;
}
.main_podcast header {
	width: 100%;
	float: left;
	background: #0888cb;
	font-size: 1.2em;
	text-transform: uppercase;
	color: #fff;
	padding: 10px;
	border-top: 4px solid #023f65;
	text-align: center;
}
.main_podcast i {
	font-size: 2.5em;
	display: inline;
	color: #023f65;
	top: 5px;
	margin-right: 5px;
	position: relative;
}
.main_podcast h1 {
	display: inline;
}
.main_podcast h1 a {
	color: #fff;
	font-weight: bold;
}
.main_podcast h1 a:hover {
	color: #023f65;
}
.main_podcast_item {
	width: 100%;
	float: left;
	border: 10px solid #e6e6e6;
	background: #d1d1d1;
	padding: 10px;
}
.main_podcast_item h1 {
	font-size: 1.2em;
	color: #333;
}
.main_podcast_item audio {
	margin-top: 10px;
}
.main_podcast button {
	background: #888 !important;
	border: none;
}
.main_podcast button:active {
	background: #0888cb !important;
	border: none;
}
.main_podcast_audios {
	display: none;
	width: 100%;
	float: left;
	max-height: 500px;
	overflow-y: auto;
	position: absolute;
	border-bottom: 5px solid #0888cb;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
}
.main_podcast_audios .main_podcast_item {
	border: 10px solid #999;
}

/* COMTAGEM REGRESSIVA */
.main_contagem_regressiva {
	width: 100%;
	float: left;
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
}
.main_contagem_regressiva h1,
.main_contagem_regressiva .tagline,
.main_contagem_regressiva .desc {
	width: 100%;
	padding: 10px;
}
.main_contagem_regressiva h1 {
	background: #333;
	text-transform: uppercase;
}
.main_contagem_regressiva .tagline {
	background: #666;
	font-size: 1.15em;
}
.main_contagem_regressiva .desc {
	background: #4d4d4d;
	text-transform: uppercase;
	font-size: 1.15em;
}
.main_contagem_regressiva img {
	width: 100%;
}

/* ÚLTIMAS ESTADOS */
.main_ultimas {
	width: 100%;
	float: left;
	background: #023f65;
	color: #fff;
	margin-bottom: 20px;
}
.main_ultimas header {
	text-align: center;
	padding-top: 15px;
}
.main_ultimas header h1 {
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
	margin-bottom: 10px;
}
.main_ultimas .main_ultimas_nav {
	display: inline-block;
	padding-bottom: 5px;
	font-size: 1.05em;
	cursor: pointer;
	color: #ccc;
	border-bottom: 3px solid #ccc;
	margin-right: 10px;
}
.main_ultimas .main_ultimas_nav:hover,
.main_ultimas .main_ultimas_nav.active {
	color: #00a1d8;
	border-bottom-color: #00a1d8;
}
.main_ultimas_content {
	padding: 10px;
	background: #0888cb;
	display: none;
}
.main_ultimas_content.first {
	display: block;
}
.main_ultimas_item {
	margin-bottom: 15px;
}
.main_ultimas_item:nth-of-type(3n + 0) {
	margin-bottom: 0;
}
.main_ultimas_item h1 {
	width: 100%;
	padding: 15px;
	background: #023f65;
	min-height: 95px;
}
.main_ultimas_item a {
	color: #fff;
}
.main_ultimas_item a:hover {
	color: #caefff;
}
.main_ultimas_item:nth-of-type(4n + 0),
.main_ultimas_item:nth-of-type(5n + 0) {
	display: none;
}

/* FANCYBOX CUSTOM */
.fancybox-slide--iframe .fancybox-content {
	width: 800px;
	height: 450px;
	max-width: 80%;
	max-height: 80%;
	margin: 0;
}

/***********************************
############ NOTICIAS ##############
***********************************/
/* MAIS DESTAQUES LIST */
.main_mais_destaques_list .item:nth-of-type(6n + 0),
.main_mais_destaques_list .item:nth-of-type(7n + 0),
.main_mais_destaques_list .item:nth-of-type(8n + 0),
.main_mais_destaques_list .item:nth-of-type(9n + 0),
.main_mais_destaques_list .item:nth-of-type(10n + 0),
.main_mais_destaques_list .item:nth-of-type(11n + 0),
.main_mais_destaques_list .item:nth-of-type(12n + 0) {
	display: none;
}

/* MAIS NOTÍCIAS LIST */
.main_mais_noticias_list .item:nth-of-type(6n + 0),
.main_mais_noticias_list .item:nth-of-type(7n + 0),
.main_mais_noticias_list .item:nth-of-type(8n + 0),
.main_mais_noticias_list .item:nth-of-type(9n + 0),
.main_mais_noticias_list .item:nth-of-type(10n + 0),
.main_mais_noticias_list .item:nth-of-type(11n + 0),
.main_mais_noticias_list .item:nth-of-type(12n + 0) {
	display: none;
}

/***********************************
######### ENTRETENIMENTO ###########
***********************************/
.main_entretenimento_title {
	width: 100%;
	float: left;
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom: 4px solid #0071bc;
	color: #0071bc;
	text-transform: uppercase;
	font-family: 'Merriweather', serif;
}
.main_entretenimento_title i {
	font-size: 1.2em;
}

.main_entretenimento_page_title {
	width: 100%;
	float: left;
}
.main_entretenimento_page_title h1 {
	font-size: 1.75em;
	font-weight: 300;
	margin: 15px 0;
	color: #0071bc;
}
.main_entretenimento_page_title p {
	font-size: 1.05em;
	line-height: 1.5em;
	color: #666;
	margin-bottom: 25px;
}

.main_facebook {
	margin-bottom: 20px;
}

.main_entretenimento_foto ul {
	list-style: none;
}
.main_entretenimento_foto {
	float: left;
	width: 100%;
	margin-bottom: 15px;
}
.main_entretenimento_foto .foto_links {
	width: 100%;
	border-bottom: 2px solid #ccc;
	background: #fafafa;
	padding: 5px 0;
	text-align: left;
}
.main_entretenimento_foto .foto_download a {
	padding: 3px 10px;
	background: #e6e6e6;
	color: #808080;
	border-radius: 4px;
	float: left;
	display: block;
	text-align: center;
	border-bottom: 1px solid #b3b3b3;
}
.main_entretenimento_foto .foto_download a:hover {
	background: #e3e3e3;
}
.main_entretenimento_foto .fb-like {
	margin-left: 5px;
}

.main_entretenimento_form {
	float: left;
}
.main_entretenimento_form b {
	color: #0071bc;
}
.main_entretenimento_form .form_100,
.main_entretenimento_form .form_30 {
	width: 100%;
	float: left;
}
.main_entretenimento_form button {
	max-width: fit-content;
	float: left;
}

/***********************************
############## SINGLE ##############
***********************************/
.main_single_content {
	float: left;
	width: 100%;
	background: #fff;
	border-top: 3px solid #ccc;
	padding: 15px;
	margin-top: 10px;
}
.main_single_content header {
	float: left;
	width: 100%;
	border-bottom: 1px dotted #cacaca;
	margin-bottom: 20px;
}
.main_single_content header a {
	float: left;
}
.main_single_content header h1 {
	font-size: 2em;
	color: #333;
	margin-bottom: 10px;
	font-family: 'Merriweather';
	font-weight: 400;
}
.main_single_content header img {
	width: 100%;
}
.main_single_content_header_excerpt {
	float: left;
	width: 100%;
	color: #808080;
	margin-bottom: 10px;
}
.main_single_content_header_excerpt .tagline {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	font-size: 1.2em;
}
.main_single_content_header_excerpt time {
	float: left;
}
.main_single_content_header_share {
	float: left;
	width: 100%;
	padding: 12px 0;
	text-transform: uppercase;
	color: #b1b1b1;
}
.main_single_content_share_bottom {
	float: left;
	width: 100%;
	padding: 15px;
	text-transform: uppercase;
	color: #b1b1b1;
	background: #e5e5e5;
	margin-bottom: 20px;
}
.main_single_content_header_share p,
.main_single_content_share_bottom p {
	display: none;
}
.main_single_tag {
	width: 100%;
	float: left;
	margin-bottom: 12px;
	text-transform: uppercase;
}
.main_single_tag mark {
	float: left;
	color: #fff;
	margin-right: 5px;
	font-size: 0.8em;
}
.main_single_tag .posttag {
	float: left;
	font-size: 0.8em;
	margin-top: 6px;
}

.main_single_comments {
	float: left;
	width: 100%;
	margin-bottom: 20px;
	background: #fff;
	padding: 15px;
}
.main_single_comments header {
	border-bottom: 2px solid #ccc;
	padding: 12px 0;
	margin-bottom: 10px;
}
.main_single_comments h1 {
	text-transform: uppercase;
	font-weight: 200 !important;
	color: #666;
}

.main_single_related {
	float: left;
	width: 100%;
}
.main_single_related h1 {
	margin-bottom: 5px;
	font-weight: 200;
}

.main_single_content .gallery {
	float: left;
	width: 100%;
	position: relative;
	text-align: center;
	background: #000;
	margin-bottom: 5px;
}
.main_single_content .gallery img {
	margin: 0 auto !important;
}
.main_single_content .gallery_controls {
	position: absolute;
	float: left;
	top: 50%;
	margin-top: -15px;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
	color: #fff;
	font-size: 35px;
	/* background: red; */
	width: 100%;
}
.main_single_content .gallery_controls .go {
	float: right;
	margin-right: 25px;
}
.main_single_content .gallery_controls .back {
	float: left;
	margin-left: 25px;
}
.main_single_content p.gallery_text {
	font-size: 14px !important;
	font-family: 'Merriweather Sans', sans-serif;
}

.htmlchars iframe {
	height: 50vw;
	width: 100%;
}

/***********************************
############ PAGINATOR #############
***********************************/
.paginator {
	float: left;
	width: 100%;
	padding: 20px 0 10px 0;
	text-align: center;
}
.paginator li {
	display: inline;
	margin: 0 2px;
}
.paginator .active,
.paginator li a {
	padding: 10px;
	color: #003f5b;
	font-weight: 600;
	text-decoration: none;
	font-size: 1.1em;
}
.paginator li a:hover {
	background: #666;
	color: #fff;
}
.paginator .active {
	background: #003f5b;
	color: #fff;
}

.paginator .paginator_item {
	display: inline;
	margin: 0 2px;
}
.paginator .paginator_active,
.paginator a.paginator_item {
	padding: 10px;
	color: #003f5b;
	font-weight: 600;
	text-decoration: none;
	font-size: 1.1em;
}
.paginator a.paginator_item:hover {
	background: #666;
	color: #fff;
}
.paginator .paginator_active {
	background: #003f5b;
	color: #fff;
}

/***********************************
############## FOOTER ##############
***********************************/
.main_btn_topo {
	position: absolute;
	right: 4%;
	cursor: pointer;
	top: 0;
	max-width: 35px;
	font-size: 0.9em;
	text-transform: uppercase;
	margin-top: -61px;
	text-align: center;
	padding: 10px;
}
.main_btn_topo {
	color: #666;
}
.main_btn_topo:hover {
	color: #000;
}

.main_footer {
	width: 100%;
	float: left;
	position: relative;
}
.main_footer_copy,
.main_footer_nav {
	padding: 12px;
	color: #fff;
	text-align: center;
}
.main_footer_copy {
	width: 100%;
	float: left;
	background: #808080;
	font-size: 0.85em;
}
.main_footer_nav {
	width: 100%;
	float: left;
	background: #4d4d4d;
}
.main_footer_nav li {
	display: inline-block;
	margin-right: 10px;
	font-size: 0.77em;
}
.main_footer_nav a {
	color: #fff;
}
.main_footer_nav a:hover {
	color: #ccc;
}

/*480PX BREAKPOINT*/
@media (min-width: 30em) {
	.main_home_header_estados {
		float: left;
		width: 48%;
		margin-right: 4%;
	}
	.main_home_header_estados:last-of-type {
		margin-right: 0;
	}
}

/*520PX BREAKPOINT*/
@media (min-width: 32.5em) {
	.main_home_box_news h1 {
		font-size: 1.4em;
	}

	.main_mais_destaques,
	.main_mais_noticias {
		float: left;
		width: 48%;
		margin-right: 4%;
	}
	.main_mais_destaques .item:nth-of-type(5n + 0) {
		display: block;
	}
	.main_mais_noticias .item:nth-of-type(5n + 0),
	.main_mais_noticias .item:nth-of-type(6n + 0) {
		display: none !important;
	}

	.main_outras_noticias .item,
	.main_single_related .item {
		float: left;
		width: 48%;
		margin-right: 4%;
	}
	.main_outras_noticias .item:nth-of-type(2n + 0),
	.main_single_related .item:nth-of-type(2n + 0) {
		margin-right: 0;
	}

	.main_sidebar_top,
	.main_sidebar_bottom {
		width: 48%;
		float: right;
	}

	.main_colunistas_item img {
		max-width: 130px;
		margin-left: -65px;
	}
	.main_colunistas_item_content {
		margin-top: 65px;
	}

	.main_header_content {
		text-align: center;
	}

	.main_videos h1.title,
	.main_galeria h1.title {
		text-align: left;
	}

	/* NOTÍCIAS */
	.main_mais_destaques_list,
	.main_mais_noticias_list {
		float: left;
		width: 48%;
		margin-right: 4%;
	}
}

/*600PX BREAKPOINT*/
@media (min-width: 37.5em) {
	.main_home_box_news h1 {
		font-size: 1.7em;
	}
	.main_home_box_news_desc {
		padding: 15px;
	}

	.main_header_topo_estados {
		float: left;
		margin-left: 20px;
	}
	.main_header_topo_social {
		display: block;
	}
	.main_header_content {
		padding: 5px 0;
		border-bottom: 0;
	}
	.main_header_logo img {
		max-width: 240px;
	}
	.main_header_ultimas {
		display: block;
	}
	.main_mobile_action {
		top: 25px;
	}

	.main_header_nav_desktop {
		display: block;
	}
	.main_header_nav_search_desktop_button {
		display: block;
		width: 40px;
	}

	/*SINGLE*/
	.main_single_content {
		padding: 15px 25px;
	}

	/*ENTRETENIMENTO*/
	.main_entretenimento_foto {
		width: 48%;
		margin-right: 4%;
	}
	.main_entretenimento_foto:nth-of-type(2n + 0) {
		margin-right: 0;
	}
}

/*768PX BREAKPOINT*/
@media (min-width: 48em) {
	.main_home_title {
		margin-bottom: 20px;
	}
	.main_home_title mark {
		float: left;
	}
	.main_home_title p {
		float: left;
		margin-top: 5px;
		margin-left: 10px;
	}

	.slide_controll,
	.main_slide_mobile {
		display: none;
	}

	.main_slide_destaques,
	.main_slide_videos,
	.main_slide_galeria {
		display: block;
		margin-bottom: 15px;
	}

	/*SINGLE*/
	.main_single_content {
		padding: 25px 35px;
	}
	.main_single_content header h1 {
		font-size: 2.6em;
	}
	.htmlchars p,
	.htmlchars blockquote,
	.htmlchars div,
	.htmlchars pre {
		font-size: 1.4em;
	}
	.main_single_content_header_share .sharebox,
	.main_single_content_share_bottom .sharebox {
		float: right;
		width: auto;
		text-align: right;
	}
	.main_single_content_header_share p,
	.main_single_content_share_bottom p {
		display: block;
		float: right;
		margin: 12px 6px 0 0;
	}
	.htmlchars .align-right {
		margin: 15px 0 5px 15px;
	}
	.htmlchars .align-left {
		margin: 15px 15px 5px 0;
	}

	/*ENTRETENIMENTO*/
	.main_entretenimento_form .form_30 {
		width: 32%;
		margin-right: 2%;
		float: left;
	}
}

/*800PX BREAKPOINT*/
@media (min-width: 50em) {
	.content_home {
		float: none;
		max-width: 920px;
		margin: 0 auto;
	}
	.main_home_header_estados {
		margin-bottom: 20px;
	}

	.content {
		width: 85%;
		margin: 0 7.5%;
	}

	.estados {
		width: 60%;
	}
	.main_header_estados .social_box {
		float: right;
		margin-top: 20px;
	}

	/*single*/
	.htmlchars iframe {
		height: 40vw;
		width: 100%;
	}
}

/*960PX BREAKPOINT*/
@media (min-width: 60em) {
	.content_home {
		position: relative;
	}
	.main_home_header {
		height: 200px;
	}
	.main_home_header_logo img {
		position: absolute;
		left: 50%;
		margin-left: -70px;
		width: 140px;
	}
	.main_home_header_estados {
		float: left;
		width: 380px;
		margin-right: 0 !important;
	}
	.main_home_header_estados.ba {
		position: absolute;
		left: 0;
	}
	.main_home_header_estados.es {
		position: absolute;
		right: 0;
	}
	.main_home_ultimas {
		float: left;
		width: 48%;
		margin-right: 4%;
	}
	.main_home_ultimas:last-of-type {
		margin-right: 0;
	}
	.main_home_box_news h1 {
		font-size: 1.4em;
	}
	.main_home_header_estados .flag_large {
		display: block;
	}
	.main_home_header_estados .flag_medium {
		display: none;
	}
	.main_home_footer {
		margin-top: 20px;
	}

	.content {
		width: 92%;
		margin: 0 4%;
	}

	.main_slide_destaques_item,
	.main_slide_videos_item,
	.main_slide_galeria_item {
		width: 65%;
		float: left;
	}
	.main_slide_destaques_click,
	.main_slide_videos_click,
	.main_slide_galeria_click {
		width: 35%;
		float: left;
	}
	.main_slide_videos_item_click,
	.main_slide_galeria_item_click {
		width: 100%;
		height: 90px;
		padding-bottom: 28.5%;
		border-right: none;
		border-bottom: 1px solid #666;
	}
	.main_slide_destaques_item_click {
		width: 100%;
		height: 90px;
		padding-bottom: 28.5%;
		border-right: none;
		border-bottom: 1px solid #ccc;
	}
	.main_slide_destaques_item_click .title,
	.main_slide_videos_item_click .title,
	.main_slide_galeria_item_click .title {
		font-size: 1.2em;
	}

	.main_slide_destaques_item_click:nth-of-type(4n + 0),
	.main_slide_videos_item_click:nth-of-type(4n + 0),
	.main_slide_galeria_item_click:nth-of-type(4n + 0) {
		display: block;
		border-bottom: 0;
	}

	.main_mais_destaques,
	.main_mais_noticias {
		width: 66.666666666666667%;
		float: left;
		margin-right: 3%;
	}
	.main_mais_destaques .item,
	.main_mais_noticias .item {
		width: 48%;
		margin-right: 4%;
	}
	.main_mais_destaques .item:nth-of-type(2n + 0),
	.main_mais_noticias .item:nth-of-type(2n + 0) {
		margin-right: 0;
	}
	.main_sidebar_top,
	.main_sidebar_bottom {
		width: 30.333333333333333%;
		float: left;
	}
	.main_outras_noticias .item:nth-of-type(2n + 0),
	.main_single_related .item:nth-of-type(2n + 0),
	.main_outras_noticias .item,
	.main_single_related .item {
		width: 32%;
		margin-right: 2%;
	}
	.main_outras_noticias .item:nth-of-type(3n + 0),
	.main_single_related .item:nth-of-type(3n + 0) {
		margin-right: 0;
	}

	.main_mais_destaques .item:nth-of-type(4n + 0),
	.main_mais_destaques .item:nth-of-type(5n + 0),
	.main_mais_destaques .item:nth-of-type(6n + 0),
	.main_mais_destaques .item:nth-of-type(7n + 0),
	.main_mais_destaques .item:nth-of-type(8n + 0),
	.main_mais_destaques .item:nth-of-type(9n + 0),
	.main_mais_destaques .item:nth-of-type(10n + 0) {
		display: block;
	}

	.main_outras_noticias .item:nth-of-type(5n + 0),
	.main_outras_noticias .item:nth-of-type(6n + 0) {
		display: block;
	}

	.main_mais_noticias .item:nth-of-type(4n + 0),
	.main_mais_noticias .item:nth-of-type(5n + 0),
	.main_mais_noticias .item:nth-of-type(6n + 0) {
		display: block !important;
	}

	/*SINGLE*/
	.main_single_content header h1 {
		font-size: 2.9em;
	}
	.main_single_content_header_excerpt .tagline {
		font-size: 1.3em;
		line-height: 1.5em;
		font-weight: 300;
	}

	.htmlchars iframe {
		height: 50vw;
		width: 100%;
	}

	/*ENTRETENIMENTO*/
	.main_entretenimento_foto,
	.main_entretenimento_foto:nth-of-type(2n + 0) {
		width: 18%;
		float: left;
		margin-right: 2.5%;
		margin-left: 0 !important;
	}
	.main_entretenimento_foto:nth-of-type(5n + 0) {
		margin-right: 0 !important;
	}

	/*NOTÍCIAS*/
	.main_mais_destaques_list,
	.main_mais_noticias_list {
		width: 66.666666666666667%;
		float: left;
		margin-right: 3%;
	}
	.main_mais_destaques_list .item,
	.main_mais_noticias_list .item {
		width: 48%;
		margin-right: 4%;
	}
	.main_mais_destaques_list .item:nth-of-type(2n + 0),
	.main_mais_noticias_list .item:nth-of-type(2n + 0) {
		margin-right: 0;
	}

	.main_mais_destaques_list .item:nth-of-type(6n + 0),
	.main_mais_destaques_list .item:nth-of-type(7n + 0),
	.main_mais_destaques_list .item:nth-of-type(8n + 0),
	.main_mais_destaques_list .item:nth-of-type(9n + 0) {
		display: block;
	}

	.main_mais_noticias_list .item:nth-of-type(6n + 0),
	.main_mais_noticias_list .item:nth-of-type(7n + 0) {
		display: block !important;
	}
}

/*1050PX BREAKPOINT*/
@media (min-width: 65.625em) {
	.banner_728 {
		width: 100%;
		float: left;
		max-width: 728px;
		max-height: 82px;
	}
	.banner_220 {
		float: right;
		display: block;
		max-width: 220px;
		max-height: 82px;
	}
	.main_banner {
		background: none;
	}
}

/*1160PX BREAKPOINT*/
@media (min-width: 72.5em) {
	.main_slide_destaques_item_click .title {
		font-size: 1.3em;
	}

	.main_header_logo {
		float: left;
	}

	.main_mobile_action,
	.main_header_nav {
		display: none;
	}

	.main_header_content {
		padding: 10px 0;
	}
	.main_header_content .main_banner_728 {
		width: 100%;
		display: inline-block;
		max-width: 728px;
	}
	.main_header_content .main_banner_728 {
		float: right;
	}

	.banner_top_content {
		display: none;
	}

	.main_header_nav_desktop_item {
		display: block !important;
	}

	.ultimas_category {
		display: none;
	}
}

/*1280PX BREAKPOINT*/
@media (min-width: 80em) {
	.main_sidebar_bottom,
	.main_sidebar_top {
		display: none;
	}

	.main_content_left {
		width: 75%;
		float: left;
		margin-right: 2%;
	}
	.main_content_right {
		width: 23%;
		float: left;
	}

	.main_sidebar {
		display: block;
		margin-top: 15px;
	}

	.main_mais_destaques,
	.main_mais_noticias {
		width: 100%;
		float: left;
	}

	.main_mais_destaques .item,
	.main_mais_destaques .item:nth-of-type(2n + 0),
	.main_mais_noticias .item,
	.main_mais_noticias .item:nth-of-type(2n + 0) {
		width: 32%;
		float: left;
		margin-right: 2%;
	}
	.main_mais_destaques .item:nth-of-type(3n + 0),
	.main_mais_noticias .item:nth-of-type(3n + 0) {
		margin-right: 0;
	}
	.main_mais_destaques .item:nth-of-type(10n + 0),
	.main_mais_noticias .item:nth-of-type(7n + 0),
	.main_mais_noticias .item:nth-of-type(8n + 0) {
		display: none !important;
	}

	.main_outras_noticias .item:nth-of-type(2n + 0),
	.main_outras_noticias .item:nth-of-type(3n + 0),
	.main_outras_noticias .item {
		width: 23.5%;
		float: left;
		margin-right: 2%;
	}
	.main_outras_noticias .item:nth-of-type(4n + 0) {
		margin-right: 0;
	}
	.main_outras_noticias .item:nth-of-type(7n + 0),
	.main_outras_noticias .item:nth-of-type(8n + 0) {
		display: block;
	}

	.main_ultimas_item:nth-of-type(4n + 0) {
		display: block;
	}

	.main_ultimas_item:nth-of-type(3n + 0) {
		margin-bottom: 15px !important;
	}
	.main_ultimas_item:nth-of-type(4n + 0) {
		margin-bottom: 0;
	}

	/*SINGLE*/
	.main_single_content {
		padding: 30px 40px;
		margin-top: 17px;
	}
	.main_single_content header h1 {
		font-size: 3.1em;
	}
	.htmlchars h1 {
		display: block;
		font-size: 2.1em;
	}
	.htmlchars h2 {
		display: block;
		font-size: 1.9em;
	}
	.htmlchars h3 {
		display: block;
		font-size: 1.7em;
	}
	.htmlchars p,
	.htmlchars blockquote,
	.htmlchars div,
	.htmlchars pre {
		font-size: 1.45em;
		line-height: 1.7em;
	}

	.htmlchars iframe {
		height: 36vw;
		width: 100%;
	}

	/*NOTÍCIAS*/
	.main_mais_destaques_list,
	.main_mais_noticias_list {
		width: 100%;
		float: left;
	}

	.main_mais_destaques_list .item,
	.main_mais_destaques_list .item:nth-of-type(2n + 0) {
		width: 32%;
		float: left;
		margin-right: 2%;
	}
	.main_mais_destaques_list .item:nth-of-type(3n + 0) {
		margin-right: 0;
	}
	.main_mais_destaques_list .item:nth-of-type(10n + 0),
	.main_mais_destaques_list .item:nth-of-type(11n + 0),
	.main_mais_destaques_list .item:nth-of-type(12n + 0) {
		display: block !important;
	}

	.main_mais_noticias_list .item,
	.main_mais_noticias_list .item:nth-of-type(2n + 0) {
		width: 32%;
		float: left;
		margin-right: 2%;
	}
	.main_mais_noticias_list .item:nth-of-type(3n + 0) {
		margin-right: 0;
	}
	.main_mais_noticias_list .item:nth-of-type(8n + 0),
	.main_mais_noticias_list .item:nth-of-type(9n + 0),
	.main_mais_noticias_list .item:nth-of-type(10n + 0),
	.main_mais_noticias_list .item:nth-of-type(11n + 0),
	.main_mais_noticias_list .item:nth-of-type(12n + 0) {
		display: block;
	}
}

/*1366PX BREAKPOINT*/
@media (min-width: 85.375em) {
	.main_ultimas_item:nth-of-type(4n + 0) {
		margin-bottom: 15px !important;
	}
	.main_ultimas_item:nth-of-type(5n + 0) {
		display: block;
		margin-bottom: 0;
	}
}

/*1400PX BREAKPOINT*/
@media (min-width: 87.5em) {
	.banner_728 {
		float: left;
		max-height: 90px;
	}
	.banner_220 {
		float: right;
		max-height: 90px;
	}
}

/*1600PX BREAKPOINT*/
@media (min-width: 100em) {
	.content {
		width: 81%;
		margin: 0 9.5%;
	}

	.main_header_nav_desktop {
		padding: 0 9.5%;
	}
}

/* colocando uma modificação dentro da matéria */
.veja-tambem {
	width: 90%;
	margin: 20px auto;
	display: flex;
	align-items: center;
	position: relative;
}
.veja-tambem h4 {
	font-size: 1.4em;
	text-align: right;
	padding-right: 15px;
	border-right: solid 1px #ccc;
	font-weight: bold;
	color: #ff0008;
}
.veja-tambem .list-titles {
	display: flex;
	width: 100%;
	justify-content: center;
	flex-direction: column;
	border-left: solid 3px #ff0000;
	padding-left: 15px;
	margin: 0 0 0 -1px;
}
.veja-tambem .list-titles a {
	display: flex;
	text-decoration: none;
	color: #0004ff;
	margin: 0;
	padding: 10px 0;
}
.veja-tambem .list-titles a:hover {
	color: #ff0000;
}

.veja-tambem .list-titles a h3 {
	font-size: .8em;
	padding: 0;
	margin: 0;
	font-weight: bold;
}
