
/*Enquete*/

.box-enquete{
	width: 100%;
}

.channel{
	margin-bottom:20px;
	font-size: 1.5em;
	color:#707070
}

.app_faqs_home .article {
	padding: 10px;
	background: #ffffff;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
    flex-wrap: wrap;
    color:#707070
}

.app_faqs_home .article .header {
	text-align: center;
	padding: 30px;
}

.app_faqs_home .article .header,
.app_faqs_home .article > div {
	padding: 20px;
	flex-basis: 50%;
}

.app_faqs_home .article .header h3 {
	font-size: var(--font-large);
}

.app_faqs_home .article .header p {
	margin: 5px 0 20px 0;
}

.app_faqs_home .article .header div {
	margin-bottom: 10px;
	display: flex;
	justify-content: center;
}
.app_faqs_home .article .header div a{
	margin:0 5px
}

.app_faqs_home .article .question {
	font-size: var(--font-small);
	margin-bottom: 5px;
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px) */
@media (max-width: 575.98px) {
	.app_faqs_home .article .header,
	.app_faqs_home .article > div {
		flex-basis: 100%;
	}
}