body {
	background: var(--color-default);
}
main {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
	height: 100%;
	width: 100%;
}
.login {
	background: #fff;
	width: 400px;
	max-width: 90%;
	padding: 35px;
	border-radius: var(--radius-normal);
	color: var(--color-default);
}
h1 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
.mascotinho svg {
	width: 50px;
	margin-right: 10px;
}
.mascotinho svg path,
.mascotinho svg polygon {
	fill: var(--color-default);
}
label p {
	display: flex;
	align-items: center;
}
input {
	width: 100%;
	flex: 1;
	height: 30px;
	font-size: var(--font-normal);
	padding: 20px 10px;
	color: var(--color-default);
	outline: none;
	border: none;
	border-bottom: solid 1px #ccc;
	margin-bottom: 20px;
}
button {
	width: 100%;
	flex: 1;
	justify-content: center;
}
.dev {
	font-size: var(--font-min);
	text-align: center;
	margin-top: 20px;
	line-height: 1.5em;
}
.link_whats {
	color: var(--color-green);
}

/*MESSAGES*/

.message {
	color: #ffffff;
	font-size: var(--font-normal);
	font-weight: var(--weight-strong);
	text-align: center;

	display: flex;
	width: 100%;
	padding: 10px;
	border: 2px solid #cccccc;
	align-items: center;

	-webkit-border-radius: var(--radius-normal);
	-moz-border-radius: var(--radius-normal);
	border-radius: var(--radius-normal);
}

.ajax_response {
	margin: 25px 0;
}

.message.success {
	--color: var(--color-green);
	color: var(--color);
	border-color: var(--color);
}

.message.info {
	--color: var(--color-blue);
	color: var(--color);
	border-color: var(--color);
}

.message.warning {
	--color: var(--color-yellow);
	color: var(--color);
	border-color: var(--color);
}

.message.error {
	--color: var(--color-red);
	color: var(--color);
	border-color: var(--color);
}
