.box-publi{
    width: 100%;
    margin-bottom:20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box-publi-midia{
    width: calc(25% - 10px);
    /* background: #ccc; */
    text-align: left;
    border: solid 1px #ccc;
    padding:5px;
    margin-bottom:13px;
}
.box-publi-midia .title-midia{
    color:#707070
}
.box-publi-midia .space-content{
    border-bottom: solid 1px #ccc;
    padding:5px 0
}
.box-publi-midia .space-content:nth-last-of-type(1){
    border:none
}
.box-publi-midia .checks{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.box-publi-midia .checks div{
    color:#707070;
    font-size:1em
}
.box-publi-midia .checks input{
    width: 20px;
}

/* estilizando a lista de publicidades */
.info_list{
    display: flex;
    flex-direction: column;
}
.publi-out{
    color: var(--color-yellow)
}
.local-list span:nth-of-type(2n + 1){
    color: var(--color-blue);
    padding:1px;
}
.conta-hora{
    color: var(--color-red);
}
.conta-hora-green{
    color: var(--color-green);
}

/* botão de remover da administração do destaque (jornal) */

.remov{
    position: relative;
}
.remov span{
    position:absolute;
    top:18%;
    right: 1%;
    padding:2px 8px 4px 8px;
    border-radius:50%;
    background-color: crimson;
    color: white;
    cursor: pointer;
}