/*MAGAZINE*/
.magazine{
    padding: 1em;
    max-width: 88.75em;
    margin: 0 auto;
    .primary{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .header{
            width: 70%;
            color: var(--white);
            text-transform: uppercase;
            background-color: var(--blue);
            padding: .3em;
            font-weight: bold;
            font-size: 1.3em;
            -webkit-clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
            // width: 100%;
        }
        .header2{
            width: 31%;
            background-color: var(--gray-9);
            // padding: .5em;
            margin-left:-1%;
            font-weight: bold;
            font-size: 1.3em;
            clip-path: polygon(6.8% 0%, 100% 0, 100% 100%, 0% 100%);
            -webkit-clip-path: polygon(6.8% 0%, 100% 0, 100% 100%, 0% 100%);
        }
        .title{
            font-size: 5.3em;
            width: 100%;
            text-align: center;
        }
        .column{
            width: calc(50% - 5px);
            .principal{
                margin-bottom:.5em;
                figure{
                    position: relative;
                    line-height: 0;
                    h2{
                        font-size: 3.5em;
                        span{
                            position: absolute;
                            color: var(--white);
                            padding:0 .5em 0 0;
                            font-style: italic;
                            font-family: 'Open Sans Bold';
                            line-height: 1em;
                            &.first-name{
                                top:.3em;
                                right: 1.3em;
                            }
                            &.last-name{
                                top: 1.5em;
                                right: .3em;
                            }
                        }
                    }
                    .ficha{
                        position: absolute;
                        bottom: .8em;
                        color:var(--white);
                        right: .8em;
                        text-align: right;
                        font-size: .8em;
                        line-height: 1.3em;
                        p strong{
                            font-style: italic;
                        }
                    }
                    img{
                        width: 100%;
                    }
                }
            }
            .col2{
                display: flex;
                flex-flow: wrap;
                justify-content: space-between;
                .column-1{
                    width: calc(50% - 5px);
                    .title-column{
                        border-bottom: solid 2px var(--sky);
                        font-size: 1.2em;
                        text-transform: uppercase;
                        font-weight: bold;
                        padding-right: 10%;
                        margin-left:5%
                    }
                    p{
                        text-indent: 1.2em;
                        margin: 1em 0;
                        text-align: justify;
                        font-size: .78em;
                        line-height: 1.4em;
                    }
                    .agenda{
                        display: flex;
                        margin-top:10px;
                        flex-wrap: wrap;
                        border-bottom: solid 3px var(--gray-9);
                        .img-agenda{
                            // flex: 1;
                            flex-basis: 45%;
                        }
                        .info{
                            // flex: 1;
                            flex-basis: 55%;
                            background-color: var(--red);
                            .title-agenda{
                                color: var(--white);
                                text-transform: uppercase;
                                text-align: center;
                                padding: .4em 0;
                                font-size: 1.2em;
                                background-color: var(--gray-6);
                                margin: 1.2rem 0
                            }
                            .faixa{
                                color: var(--white);
                                text-transform: uppercase;
                                text-align: center;
                                padding: .4em 0;
                                background-color: var(--gray-6);
                                margin:2em 0 1em;
                                position: relative;
                                .data{
                                    position: absolute;
                                    top:0;
                                    left:10px;
                                    width: 60px;
                                    background-color: var(--gray-c);
                                    padding: .5em;
                                    color: var(--red);
                                    font-weight: bold;
                                    line-height: 1em;
                                    .dia{
                                        font-size: 2em;
                                    }
                                    .mes{
                                        font-weight: bold;
                                    }
                                }
                                .local{
                                    font-size: .8em;
                                    line-height: 1em;
                                    padding-right: .5em;
                                    text-align: right;
                                    .loca{
                                        margin-bottom:-5px;
                                    }
                                    small{
                                        font-size: .1em;
                                        text-transform: none;
                                    }
                                }
                            }
                            .contato{
                                color: var(--white);
                                font-size: .8em;
                                text-align: center;
                                line-height: 1em;
                            }
                        }
                        .logo{
                            flex-basis: 100%;
                            padding:0 0 0 2em;
                            img{
                                margin-top:-20px;
                            }
                        }
                    }
                    .img{
                        margin-bottom:8px;
                    }
                    .banner{
                        margin-top: 8px;
                    }
                    .palavra{
                        background-color: var(--yellow);
                        padding: 10px 0 5px 0;
                        margin-bottom:10px;
                        .title-column{
                            border-bottom-color: var(--black);
                        }
                        .block-palavras{
                            width: 100%;
                            margin:15px 15px;
                            font-size: .8em;
                            .per{
                                font-weight: bold;
                            }
                            .res{
                                span{
                                    font-style: italic;
                                }
                            }
                        }
                    }
                    .projeto-musa{
                        position: relative;
                        .box-musa{
                            position: absolute;
                            top: .8em;
                            left: 1em;
                            color: var(--white);
                            font-size: .8em;
                            .title-musa{
                                text-transform: uppercase;
                            }
                            .linha{
                                display: flex;
                                margin:.2em 0;
                                .item1{
                                    margin-right: .5em;
                                }
                                .item2{
                                    font-weight: bolder;
                                }
                            }
                        }
                    }
                }
            }
        }        
    }
    .gallery--video{
        display: grid;
        grid-template-columns: 3fr 1fr;
        column-gap: 10px;
        .gallery{
            .title{
                font-size: 1.5em;
            }
            .images{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 10px;
                position: relative;
                a{
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 97.5%;
                    background-color:rgba($color: #ff8000, $alpha: 0.7);
                    color: #fff;
                    font-size: 3em;
                    font-weight: bolder;
                    text-shadow: 1px 1px 5px rgba($color: #000, $alpha: 0.5);
                    opacity: 0;
                    transition: all 300ms ease;
                    &:hover{
                        opacity: 1;
                    }
                }
                img{
                    width: 100%;
                }
            }
        }
        .video{
            .title{
                font-size: 1.5em;
            }
            a{
                position: relative;
                display: grid;
			    place-items: center;
                i{
                    position: absolute;
                    position: absolute;
                    color: var(--orange);
                    border: solid 5px var(--orange);
                    background-color: var(--white);
                    padding: 10px 10px 10px 20px;
                    border-radius: 50%;
                    opacity: 0.5;
                    transition: 300ms;
                }
                &:hover i{
                    opacity: 1;
                }
            }
        }
    }
    .secondary{
        display: flex;
        // flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        .column-1{
            width: calc(50% - 6px);
        }
        .column-2{
            width: calc(50% - 6px);
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .header{
                flex-basis: 100%;
                color: var(--white);
                text-transform: uppercase;
                background-color: var(--blue);
                padding: .3em;
                font-weight: bold;
                font-size: 1.3em;
                -webkit-clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
            }
            h1{
                font-size: 3.7em;
                line-height: 1em;
                margin: .1em 0 .3em
            }
            .column-2-1{
                width: 33%;
                .author{
                    margin: 0 0 1em 1.2em;
                    font-size: .78em;
                    span{
                        font-weight: bold;
                        text-transform: uppercase;
                    }
                }
                .texto-1c{
                    line-height: 1.4em;
                    font-size: .78em;
                    text-align: justify;
                    line-height: 1.4em;
                    h2{
                        font-size: 1.2em;
                        margin-left: 1em;
                    }
                    h2.title-column{
                        border-bottom: solid 2px var(--sky);
                        font-size: 1.2em;
                        text-transform: uppercase;
                        font-weight: bold;
                        padding-left: 8%;
                        margin-bottom:.1em;
                    }
                    p{
                        text-indent: 1.2em;
                        margin: 0 0 1.2em 0;
                        &:nth-last-child(1){
                            margin-bottom: 0;
                        }
                    }
                    &.border{
                        border: solid 2px var(--dark-light-gray);
                        padding: 0 1em;
                    }
                }
            }
            .column-2-2{
                width: 65%;
                figure{
                    position: relative;
                    img{
                        width: 100%;
                    }
                    .site{
                        position: absolute;
                        top:-1.3em;
                        right: 0;
                        font-size:.4em;
                        font-weight: bold;
                    }
                    .sub-photo{
                        position: absolute;
                        top: 1em;
                        right: 1em;
                        font-size: .7em;
                        width: 19em;
                        font-weight: bold;
                    }
                    .subtitle-photo{
                        font-size: .7em;
                        font-weight: bold;
                    }
                }
                .text-2c{
                    font-size: .78em;
                    text-align: justify;
                    line-height: 1.4em;
                    column-count: 2;
                    column-gap: 1.2em;
                    -moz-column-count: 2;
                    -moz-column-gap: 1.2em;
                    -webkit-column-count: 2;
                    -webkit-column-gap: 1.2em;
                    h2{
                        font-size: 1.2em;
                        margin-left: 1em;
                    }
                    p{
                        margin: 0 0 1.2em 0;
                        text-indent: 1.2em;
                        &:nth-child(1){
                            text-indent: 0;
                        }
                    }

                }
            }
            .space{
                width: 100%;
                margin: .7em 0;
            }
        }
    }
}