:root{
    --orange: #ff8000;
    --dark-orange:#ac5702;
    --light-gray: #ccc;
    --gray: #d8d8d8;
    --dark-light-gray: #919191;
    --dark-gray: #575757;
    --gray-shadown: #707070;
    /* --black: #000; */
    --black-alpha-3: rgba(255,255,255,.3);
    --black-alpha-5: rgba(0, 0, 0, 0.5);
    --black-alpha-7: rgba(255,255,255,.7);
    --white: #fff;
    --white-10: #f3f3f3;
    /* --blue: #0004ff; */
    --blue-light: #0888CB;
    --blue-light-hover: #0058aa;
    --blue-facebook: #0071bc;
    --blue-twitter: #29abe2;
    --blue-telegram: #87ceeb;
    --red: #ff0000;
    --red-youtube: #ed1c24;
    --red-instagram: #c1272d;
    --green-whatsapp: #128c7e;
  
    /* aniversario */
    --orange-hover: #ac5702;
    --white: #fff;
    --gray-c: #ccc;
    --gray-d: #d8d8d8;
    --gray-f: #f3f3f3;
    --gray-5: #575757;
    --gray-b: #b8b8b8;
    --gray-e: #5e5e5e;
    --gray-6: #666;
    --gray-9: #919191;
    --black: #000;
    --black-a5: rgba(0,0,0,0.5);
    --blue: #17479e;
    --sky: #00aeef;
    --red: #ed1a23;
    --yellow: #fff8a8;
}

.container{
    width: 100%;
    max-width: 1290px;
    margin:0 auto
}
.header{
    background-color: var(--orange);
    padding: 0 0 10px 0;
    box-shadow: 0 2px 2px var(--light-gray);
    .topo{
        flex-basis: 100%;
        background-color:var(--black-alpha-3);
        padding:.5em 0;
        margin-bottom:.7em;
        .container{
            display: flex;
            justify-content: space-between;
            .horas-state{
                display: flex;
                align-items: center;
                .clock{
                    font-size:.8em;
                    color:var(--white);
                }
                .state{
                    margin-left:1em;
                    a{
                        font-size:.8em;
                        display: flex;
                        align-items: center;
                        color:var(--white);
                    }
                }
            }
            .redes-sociais{
                color:var(--white);
                display: flex;
                font-size:.9em;
                .social{
                    display: flex;
                    .social_item{
                        margin:0 .3em;
                        a{
                            width: 1.6em;
                            height: 1.6em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            border-radius:50%;
                            background-color: var(--white);
                            transition: 300ms;
                            &.facebook{
                                color: var(--blue-facebook);
                            }
                            &.twitter{
                                color: var(--blue-twitter);
                            }
                            &.youtube{
                                color: var(--red-youtube);
                            }
                            &.instagram{
                                color: var(--red-instagram);
                            }
                            &.telegram{
                                color: var(--blue-telegram);
                            }
                            &.whatsapp{
                                color: var(--green-whatsapp);
                            }
                            &:hover{
                                background-color:var(--orange);
                                color:var(--white)
                            }
                        }
                    }
                }
            }
        }
    }
    .logo-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        .logo{
            height: 86px;
            img{
                height: 100%;
            }
        }
        .menu-mobile{
            display: none;
            color:var(--white);
            font-size: 1.5em;
            cursor: pointer;
            padding:.5em .7em;
            transition: 300ms;
            line-height: 0;
            &:hover{
                background-color: var(--dark-orange);
                border-radius:10px
            }
        }
        nav{
            ul{
                display: flex;
                flex-direction: row;
                a{
                    color: var(--white);
                    padding:10px;
                    font-weight: 600;
                    transition: 300ms;
                    &:hover{
                        color: var(--dark-orange);
                    }
                }
                .active{
                    color:var(--dark-orange);
                }
            }
        }
    }
}

.banner{
    margin-bottom:10px;
    img{
        width: 100%!important;
    }
}

.linkvideo{
    position: relative;
    a{
        i{
            position: absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            color:var(--orange);
            border:solid 5px var(--orange);
            background-color: var(--white);
            padding:10px 10px 10px 20px;
            border-radius:50%;
            opacity: .616;
            transition: 300ms;
        }
        &:hover i{
            opacity:1
        }
        .img{
            padding:5px 5px 0;
            border-radius:5px;
            box-shadow: 0 0 2px 1px var(--gray);
            img{
                border-radius: 5px;
            }
        }
    }
}

main{
    margin:10px 0;
    .container{
        display: flex;
        .box-left{
            flex-basis: 66%;
            .slide{
                .slider{
                    position: relative;
                    .conteudo{
                        position: absolute;
                        transition: 400ms;
                        // display: none;
                        opacity: 0;
                        &.active{
                        //    display: block;
                           opacity: 1;
                           z-index:1
                        }
                        a{
                            display: flex;
                            color: var(--dark-gray);
                            transition: 300ms;
                            padding:5px;
                            border-radius:5px;
                            &:hover{
                                color:var(--orange);
                                background-color: var(--white-10);
                            }
                            .img{
                                background-color: var(--white);
                                padding:5px 5px 0;
                                border-radius:5px;
                                box-shadow: 0 0 2px 1px var(--gray);
                                img{
                                    max-width: 344px;
                                    border-radius:5px
                                }
                            }
                            .titulo{
                                margin-left:10px;
                                line-height: 2em;
                                p{
                                    font-size:.75em;
                                    text-transform: uppercase;
                                    span{
                                        &:nth-child(1){
                                            color:var(--white);
                                            padding: 2px 10px
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .progressbar{
                    border-top:solid 1px var(--light-gray);
                    margin-top: 10px;
                    .progress{
                        background-color: var(--light-gray);
                        padding-bottom:3px;
                    }
                }
                .indicador{
                    text-align: center;
                    padding:8px 0;
                    span{
                        background-color: var(--gray);
                        border-radius:50%;
                        padding:0 .7em;
                        margin:0 5px;
                        cursor: pointer;
                        transition: 300ms;
                        &.active{
                            background-color: var(--dark-gray);
                        }
                    }
                }
            }

            .category-title{
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-bottom: solid 3px  var(--dark-gray);
                color: var(--dark-gray);
                margin-top:20px;
                a{
                    color: var(--dark-light-gray);
                    font-weight: 600;
                    transition: 300ms;
                    margin-right: 10px;
                    &:hover{
                        color: var(--dark-gray)
                    }
                }
            }

            article{
                .conteudo{
                    margin:1.25em 0;
                    a{
                        display: flex;
                        color:var(--dark-gray);
                        transition: 300ms;
                        padding:5px;
                        border-radius:5px;
                        &:hover{
                            color:var(--orange);
                            background-color: var(--white-10);
                        }
                        .img{
                            background-color: var(--white);
                            padding:5px 5px 0;
                            border-radius:5px;
                            box-shadow: 0 0 2px 1px var(--gray);
                            img{
                                max-width: 250px;
                                border-radius:5px
                            }
                        }
                        .titulo{
                            margin-left:10px;
                            line-height: 2em;
                            p{
                                font-size:.75em;
                                text-transform: uppercase;
                                span{
                                    &:nth-child(1){
                                        color:var(--white);
                                        padding: 2px 10px
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .videoContent{
                iframe {
                    width: 100%;height: 30vw;border:none
                }
            }

            .veja-tambem {
                width: 90%;
                margin: 1em auto;
                display: flex;
                align-items: center;
                position: relative;
                h4 {
                    font-size: 1.4em;
                    text-align: right;
                    padding-right: .7em;
                    border-right: solid 1px var(--light-gray);
                    font-weight: bold;
                    color: var(--red);
                }
                .list-titles {
                    display: flex;
                    width: 100%;
                    justify-content: center;
                    flex-direction: column;
                    border-left: solid 3px var(--red);
                    padding-left: .8em;
                    margin: 0 0 0 -1px;
                    a {
                        display: flex;
                        text-decoration: none;
                        color: var(--blue);
                        margin: 0;
                        padding: .4em 0;
                        &:hover {
                            color: var(--red);
                        }
                        h3 {
                            font-size: 1.3em;
                            padding: 0;
                            margin: 0;
                            font-weight: bold;
                        }
                    }
                }
            }

            .gallery {
                width: 100%;
                background: var(--black);
                line-height: 0;
                padding-bottom: .9em;
                margin-bottom:-2em;
                img {
                    margin: 0 auto;
                    width: 100%;
                }
                .desc{
                    padding:.8em 1em 0 1em;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .gallery_text {
                        font-size: .9em;
                        color:var(--white)
                    }
                }
            }
            
            .single_comments,
            .single-relacionados{
                h1{
                    font-size: 1em;
                    color: var(--dark-gray)
                }
            }
        }
        .box-right{
            flex-basis: calc(34% - 25px);
            margin-left:25px;
            .box-news{
                margin-bottom:30px;
                h1.title{
                    font-size:1em;
                    background-color: var(--orange);
                    color:var(--white);
                    padding:5px 10px;
                    border-radius: 5px;
                    margin-bottom:10px;
                    img{
                        height: 4.4em;
                        margin: .2em .5em .2em 0;
                    }
                    display: flex;
                    align-items: center;
                    &.cor-portal{
                        background-color: var(--blue-light)
                    }
                    a{
                        color:var(--white);
                        display: flex;
                        align-items: center;
                        transition: 300ms;
                        &:hover{
                            color: var(--blue-light-hover)
                        }
                    }
                }
                article > a{
                    display: flex;
                    margin-bottom:1.2em;
                    color: var(--dark-gray);
                    transition: 300ms;
                    &:hover{
                        color:var(--orange);
                    }
                    .img{
                        min-width: 110px;
                        background-color: var(--white);
                        padding:3px 3px 0;
                        border-radius:5px;
                        box-shadow: 0 0 2px 1px var(--gray);
                        img{
                            border-radius:5px
                        }
                    }
                    .titulo{
                        margin-left:10px;
                        font-size: .65em;

                    }
                }
                .seemore > a{
                    color: var(--dark-gray);
                    font-size: 1.5em;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    transition: 300ms;
                    &:hover{
                        color:var(--orange);
                    }
                }
            }
            .aniversario{
                article > a{
                    align-items: center;
                    border-bottom: dotted 1px var(--light-gray);
                    margin-bottom: 5px;
                    .img{
                        min-width: 75px;
                        background-color:none;
                        padding:0;
                        border-radius:50%;
                        box-shadow: none;
                        img{
                            border-radius:50%;
                            border:solid 1px var(--light-gray);
                            padding:3px
                        }
                    }
                }
            }
        }
    }

    @import '_magazine.scss';

}

// listagem de cobertuas de eventos
.content-list{
    width: 100%;
    header{
        margin-bottom:1em;
    }
    section{
        display: flex;
        flex-wrap: wrap;
        .item{
            margin:0 1em;
            width: calc(25% - 2em);
            img{
                width: 100%;
                border-radius: 20px;
                border:solid 2px var(--white);
                box-shadow: 1px 1px 5px var(--gray-shadown);
            }
            .main_box_news_desc{
                position: relative;
                .social{
                    position:absolute;
                    top:-3em;
                    left:.5em;
                    display: flex;
                    .social_item{
                        margin: 0 .2em;
                        font-size: 1.2em;
                        a{
                            background-color: var(--black-alpha-7);
                            border-radius:50%;
                            width: 2.2rem;
                            height: 2.2rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            &:hover{
                                background-color: var(--white);
                                color:var(--orange);
                            }
                        }
                        .whatsapp{
                            color: var(--green-whatsapp);
                        }
                        .facebook{
                            color: var(--blue-facebook);
                        }
                        .twitter{
                            color: var(--blue-twitter);
                        }
                    }
                }
                a{
                    display: inline-flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content:space-between;
                    .categoria{
                        color:var(--white);
                        font-size: .7em;
                        padding:.2em .8em;
                        float: left;
                        text-transform: uppercase;
                    }
                    .tagline{
                        font-size: .7em;
                        color:var(--black);
                        text-transform: uppercase;
                    }
                    time{
                        font-size: .6em;
                        color: var(--gray-shadown);
                        justify-self: flex-end;
                    }
                    h1{
                        flex-basis: 100%;
                        color: var(--dark-gray);
                        transition: 300ms;
                        &:hover{
                            color: var(--gray-shadown)
                        }
                    }
                }
            }
        }
    }
}

.paginator{
    width:100%;
    text-align: center;
    padding:1em 0;
    a.paginator_item{
        margin:0 5px;
        padding: .8rem;
        transition: 300ms;
        color: var(--gray-shadown);
        &:hover{
            background:var(--light-gray);
        }
    }
    .paginator_active{
        background: var(--orange);
        color:var(--white);
        padding: .8rem;
    }
}

.footer{
    background-color: var(--orange);
    padding-top: 10px;
    .copyright{
        color:var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: .8em;
        padding-bottom:10px;
    }
    .menu{
        background-color: var(--black-alpha-5);
        padding:10px 0;
        nav{
            display: flex;
            justify-content: center;
            ul{
                display: flex;
                a{
                    color:var(--white);
                    margin:0 5px;
                    font-size: .8em;
                    transition: 300ms;
                    &:hover{
                        opacity: .7;
                    }
                }
            }
        }
    }
}



//responsivando
@media (max-width: 37em) {
    .container{
        padding: 0 .5em;
    }
    .redes-sociais{
        display: none!important;
    }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 49em) {
    .header{
        .logo-menu{
            position: relative;
            .menu-mobile{
                display:block;
            }
            nav{
                position: absolute;
                top:80px;
                left:-260px;
                background-color: var(--orange);
                width: 250px;
                z-index: 100;
                padding-left:20px;
                transition: 300ms;
                ul{
                    display: block;
                    li{
                        margin: 1em 0
                    }
                }
            }
            .menu-active{
                left:-10px;
            }
        }
    }
    main{
        .container{
            flex-wrap: wrap;
            margin:0;
            width: 100%;
            padding:0 .5em;
            .box-left{
                flex-basis: 100%;
                .slide{
                    .slider{
                        .conteudo{
                            padding-bottom:0;
                            display: none;
                            &.active{
                               display: block;
                            }
                            a{
                                flex-wrap: wrap;
                                .titulo{
                                    margin: .3em 0 0 0!important;
                                    font-size: .8em;
                                    line-height: 2.3em;
                                    h1{
                                        margin:0!important
                                    }
                                }
                            }
                        }
                    }
                }
                .category-title{
                    flex-wrap: wrap;
                    .mobile{
                        font-size: 1.4em;
                    }
                }
                .html-class{
                    img{
                        width: 100%;
                        margin: 5px 0!important;
                    }
                    iframe {
                        width: 100%!important;
                        height: 57vw!important;
                        border:none
                    }
                }
                article{
                    .conteudo{
                        margin:1.25em 0;
                        a{
                            flex-wrap: wrap;
                            .img{
                                img{
                                    max-width: 100%;
                                }
                            }
                            .titulo{
                                font-size: .8em;
                            }
                        }
                    }
                }
                .videoContent{
                    iframe {
                        width: 100%;height: 55vw;border:none
                    }
                }
            }
            .box-right{
                flex-basis: 100%;
                margin-left:0;
            }
        }
    }
    .content-list{
        section{
            .item{
                width: 100%;
                margin-bottom:1em;
                padding-bottom:1em;
                border-bottom: dotted var(--light-gray) 1px;
                &:nth-last-of-type(1){
                    border-bottom: none;
                }
            }
        }
    }
    .footer{
        .copyright{
            flex-direction: column;
            padding:0 1em;
            span{
                text-align: center;
            }
        }
    }
    main{
        .magazine{
            padding: .5em;
            .primary{
                .header{
                    flex-basis: 100%;
                }
                .header2{
                    display: none;
                }
                .title{
                    font-size: 2em;
                }
                .column{
                    width: 100%;
                    .principal{
                        figure{
                            span{
                                font-size: .4em;
                            }
                            .ficha{
                                font-size: .6em;
                            }
                        }
                    }
                    .col2{
                        .column-1{
                            width: 100%;
                            p{
                                font-size: 1em;
                            }
                            .agenda{
                                display: none;
                            }
                            .img{
                                img{
                                    width: 100%;
                                }
                                
                            }
                            .palavra{
                                .block-palavras{
                                    font-size: 1em;
                                }
                            }
                            .projeto-musa{
                                .box-musa{
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }
            }
            .gallery--video{
                grid-template-columns: 1fr;
                .gallery{
                    .title{
                        font-size: 1.3em;
                    }
                    .images{
                        grid-template-columns: repeat(2, 1fr);
                        a{
                            font-size: 2em;
                        }
                        div{
                            &:nth-child(4){
                                display: none;
                            }
                        }
                    }
                }
                .video{
                    .title{
                        font-size: 1.3em;
                    }
                    a{
                        i{
                            font-size: 2em;
                            opacity: 0.7;
                        }
                    }
                }
            }
            .secondary{
                flex-wrap: wrap;
                .column-2{
                   width: 100%;
                   h1{
                       font-size: 2em;
                   }
                   .column-2-1{
                       width: 100%;
                       .texto-1c{
                           p{
                                font-size: 1em;
                           }
                       }
                   }
                   .column-2-2{
                       width: 100%;
                       figure{
                            margin:10px 0;
                            background-color:#ccc;
                            .sub-photo{
                                position: unset;
                                width: 100%;
                                padding:5px;
                            }
                            .subtitle-photo{
                                padding:5px;
                            }
                       }
                       .text-2c{
                           font-size: 1em;
                           column-count: unset;
                           -moz-column-count: unset;
                           -webkit-column-count: unset;
                       }
                   }
                }
            }
        }
    }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {  }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {  }
