:root {
  --orange: #ff8000;
  --dark-orange:#ac5702;
  --light-gray: #ccc;
  --gray: #d8d8d8;
  --dark-light-gray: #919191;
  --dark-gray: #575757;
  --gray-shadown: #707070;
  /* --black: #000; */
  --black-alpha-3: rgba(255,255,255,.3);
  --black-alpha-5: rgba(0, 0, 0, 0.5);
  --black-alpha-7: rgba(255,255,255,.7);
  --white: #fff;
  --white-10: #f3f3f3;
  /* --blue: #0004ff; */
  --blue-light: #0888CB;
  --blue-light-hover: #0058aa;
  --blue-facebook: #0071bc;
  --blue-twitter: #29abe2;
  --blue-telegram: #87ceeb;
  --red: #ff0000;
  --red-youtube: #ed1c24;
  --red-instagram: #c1272d;
  --green-whatsapp: #128c7e;
  /* aniversario */
  --orange-hover: #ac5702;
  --white: #fff;
  --gray-c: #ccc;
  --gray-d: #d8d8d8;
  --gray-f: #f3f3f3;
  --gray-5: #575757;
  --gray-b: #b8b8b8;
  --gray-e: #5e5e5e;
  --gray-6: #666;
  --gray-9: #919191;
  --black: #000;
  --black-a5: rgba(0,0,0,0.5);
  --blue: #17479e;
  --sky: #00aeef;
  --red: #ed1a23;
  --yellow: #fff8a8;
}

.container {
  width: 100%;
  max-width: 1290px;
  margin: 0 auto;
}

.header {
  background-color: var(--orange);
  padding: 0 0 10px 0;
  box-shadow: 0 2px 2px var(--light-gray);
}
.header .topo {
  flex-basis: 100%;
  background-color: var(--black-alpha-3);
  padding: 0.5em 0;
  margin-bottom: 0.7em;
}
.header .topo .container {
  display: flex;
  justify-content: space-between;
}
.header .topo .container .horas-state {
  display: flex;
  align-items: center;
}
.header .topo .container .horas-state .clock {
  font-size: 0.8em;
  color: var(--white);
}
.header .topo .container .horas-state .state {
  margin-left: 1em;
}
.header .topo .container .horas-state .state a {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  color: var(--white);
}
.header .topo .container .redes-sociais {
  color: var(--white);
  display: flex;
  font-size: 0.9em;
}
.header .topo .container .redes-sociais .social {
  display: flex;
}
.header .topo .container .redes-sociais .social .social_item {
  margin: 0 0.3em;
}
.header .topo .container .redes-sociais .social .social_item a {
  width: 1.6em;
  height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--white);
  transition: 300ms;
}
.header .topo .container .redes-sociais .social .social_item a.facebook {
  color: var(--blue-facebook);
}
.header .topo .container .redes-sociais .social .social_item a.twitter {
  color: var(--blue-twitter);
}
.header .topo .container .redes-sociais .social .social_item a.youtube {
  color: var(--red-youtube);
}
.header .topo .container .redes-sociais .social .social_item a.instagram {
  color: var(--red-instagram);
}
.header .topo .container .redes-sociais .social .social_item a.telegram {
  color: var(--blue-telegram);
}
.header .topo .container .redes-sociais .social .social_item a.whatsapp {
  color: var(--green-whatsapp);
}
.header .topo .container .redes-sociais .social .social_item a:hover {
  background-color: var(--orange);
  color: var(--white);
}
.header .logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header .logo-menu .logo {
  height: 86px;
}
.header .logo-menu .logo img {
  height: 100%;
}
.header .logo-menu .menu-mobile {
  display: none;
  color: var(--white);
  font-size: 1.5em;
  cursor: pointer;
  padding: 0.5em 0.7em;
  transition: 300ms;
  line-height: 0;
}
.header .logo-menu .menu-mobile:hover {
  background-color: var(--dark-orange);
  border-radius: 10px;
}
.header .logo-menu nav ul {
  display: flex;
  flex-direction: row;
}
.header .logo-menu nav ul a {
  color: var(--white);
  padding: 10px;
  font-weight: 600;
  transition: 300ms;
}
.header .logo-menu nav ul a:hover {
  color: var(--dark-orange);
}
.header .logo-menu nav ul .active {
  color: var(--dark-orange);
}

.banner {
  margin-bottom: 10px;
}
.banner img {
  width: 100% !important;
}

.linkvideo {
  position: relative;
}
.linkvideo a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--orange);
  border: solid 5px var(--orange);
  background-color: var(--white);
  padding: 10px 10px 10px 20px;
  border-radius: 50%;
  opacity: 0.616;
  transition: 300ms;
}
.linkvideo a:hover i {
  opacity: 1;
}
.linkvideo a .img {
  padding: 5px 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px var(--gray);
}
.linkvideo a .img img {
  border-radius: 5px;
}

main {
  margin: 10px 0;
  /*MAGAZINE*/
}
main .container {
  display: flex;
}
main .container .box-left {
  flex-basis: 66%;
}
main .container .box-left .slide .slider {
  position: relative;
}
main .container .box-left .slide .slider .conteudo {
  position: absolute;
  transition: 400ms;
  opacity: 0;
}
main .container .box-left .slide .slider .conteudo.active {
  opacity: 1;
  z-index: 1;
}
main .container .box-left .slide .slider .conteudo a {
  display: flex;
  color: var(--dark-gray);
  transition: 300ms;
  padding: 5px;
  border-radius: 5px;
}
main .container .box-left .slide .slider .conteudo a:hover {
  color: var(--orange);
  background-color: var(--white-10);
}
main .container .box-left .slide .slider .conteudo a .img {
  background-color: var(--white);
  padding: 5px 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px var(--gray);
}
main .container .box-left .slide .slider .conteudo a .img img {
  max-width: 344px;
  border-radius: 5px;
}
main .container .box-left .slide .slider .conteudo a .titulo {
  margin-left: 10px;
  line-height: 2em;
}
main .container .box-left .slide .slider .conteudo a .titulo p {
  font-size: 0.75em;
  text-transform: uppercase;
}
main .container .box-left .slide .slider .conteudo a .titulo p span:nth-child(1) {
  color: var(--white);
  padding: 2px 10px;
}
main .container .box-left .slide .progressbar {
  border-top: solid 1px var(--light-gray);
  margin-top: 10px;
}
main .container .box-left .slide .progressbar .progress {
  background-color: var(--light-gray);
  padding-bottom: 3px;
}
main .container .box-left .slide .indicador {
  text-align: center;
  padding: 8px 0;
}
main .container .box-left .slide .indicador span {
  background-color: var(--gray);
  border-radius: 50%;
  padding: 0 0.7em;
  margin: 0 5px;
  cursor: pointer;
  transition: 300ms;
}
main .container .box-left .slide .indicador span.active {
  background-color: var(--dark-gray);
}
main .container .box-left .category-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 3px var(--dark-gray);
  color: var(--dark-gray);
  margin-top: 20px;
}
main .container .box-left .category-title a {
  color: var(--dark-light-gray);
  font-weight: 600;
  transition: 300ms;
  margin-right: 10px;
}
main .container .box-left .category-title a:hover {
  color: var(--dark-gray);
}
main .container .box-left article .conteudo {
  margin: 1.25em 0;
}
main .container .box-left article .conteudo a {
  display: flex;
  color: var(--dark-gray);
  transition: 300ms;
  padding: 5px;
  border-radius: 5px;
}
main .container .box-left article .conteudo a:hover {
  color: var(--orange);
  background-color: var(--white-10);
}
main .container .box-left article .conteudo a .img {
  background-color: var(--white);
  padding: 5px 5px 0;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px var(--gray);
}
main .container .box-left article .conteudo a .img img {
  max-width: 250px;
  border-radius: 5px;
}
main .container .box-left article .conteudo a .titulo {
  margin-left: 10px;
  line-height: 2em;
}
main .container .box-left article .conteudo a .titulo p {
  font-size: 0.75em;
  text-transform: uppercase;
}
main .container .box-left article .conteudo a .titulo p span:nth-child(1) {
  color: var(--white);
  padding: 2px 10px;
}
main .container .box-left .videoContent iframe {
  width: 100%;
  height: 30vw;
  border: none;
}
main .container .box-left .veja-tambem {
  width: 90%;
  margin: 1em auto;
  display: flex;
  align-items: center;
  position: relative;
}
main .container .box-left .veja-tambem h4 {
  font-size: 1.4em;
  text-align: right;
  padding-right: 0.7em;
  border-right: solid 1px var(--light-gray);
  font-weight: bold;
  color: var(--red);
}
main .container .box-left .veja-tambem .list-titles {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  border-left: solid 3px var(--red);
  padding-left: 0.8em;
  margin: 0 0 0 -1px;
}
main .container .box-left .veja-tambem .list-titles a {
  display: flex;
  text-decoration: none;
  color: var(--blue);
  margin: 0;
  padding: 0.4em 0;
}
main .container .box-left .veja-tambem .list-titles a:hover {
  color: var(--red);
}
main .container .box-left .veja-tambem .list-titles a h3 {
  font-size: 1.3em;
  padding: 0;
  margin: 0;
  font-weight: bold;
}
main .container .box-left .gallery {
  width: 100%;
  background: var(--black);
  line-height: 0;
  padding-bottom: 0.9em;
  margin-bottom: -2em;
}
main .container .box-left .gallery img {
  margin: 0 auto;
  width: 100%;
}
main .container .box-left .gallery .desc {
  padding: 0.8em 1em 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .container .box-left .gallery .desc .gallery_text {
  font-size: 0.9em;
  color: var(--white);
}
main .container .box-left .single_comments h1,
main .container .box-left .single-relacionados h1 {
  font-size: 1em;
  color: var(--dark-gray);
}
main .container .box-right {
  flex-basis: calc(34% - 25px);
  margin-left: 25px;
}
main .container .box-right .box-news {
  margin-bottom: 30px;
}
main .container .box-right .box-news h1.title {
  font-size: 1em;
  background-color: var(--orange);
  color: var(--white);
  padding: 5px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
main .container .box-right .box-news h1.title img {
  height: 4.4em;
  margin: 0.2em 0.5em 0.2em 0;
}
main .container .box-right .box-news h1.title.cor-portal {
  background-color: var(--blue-light);
}
main .container .box-right .box-news h1.title a {
  color: var(--white);
  display: flex;
  align-items: center;
  transition: 300ms;
}
main .container .box-right .box-news h1.title a:hover {
  color: var(--blue-light-hover);
}
main .container .box-right .box-news article > a {
  display: flex;
  margin-bottom: 1.2em;
  color: var(--dark-gray);
  transition: 300ms;
}
main .container .box-right .box-news article > a:hover {
  color: var(--orange);
}
main .container .box-right .box-news article > a .img {
  min-width: 110px;
  background-color: var(--white);
  padding: 3px 3px 0;
  border-radius: 5px;
  box-shadow: 0 0 2px 1px var(--gray);
}
main .container .box-right .box-news article > a .img img {
  border-radius: 5px;
}
main .container .box-right .box-news article > a .titulo {
  margin-left: 10px;
  font-size: 0.65em;
}
main .container .box-right .box-news .seemore > a {
  color: var(--dark-gray);
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  justify-content: center;
  transition: 300ms;
}
main .container .box-right .box-news .seemore > a:hover {
  color: var(--orange);
}
main .container .box-right .aniversario article > a {
  align-items: center;
  border-bottom: dotted 1px var(--light-gray);
  margin-bottom: 5px;
}
main .container .box-right .aniversario article > a .img {
  min-width: 75px;
  background-color: none;
  padding: 0;
  border-radius: 50%;
  box-shadow: none;
}
main .container .box-right .aniversario article > a .img img {
  border-radius: 50%;
  border: solid 1px var(--light-gray);
  padding: 3px;
}
main .magazine {
  padding: 1em;
  max-width: 88.75em;
  margin: 0 auto;
}
main .magazine .primary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .magazine .primary .header {
  width: 70%;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--blue);
  padding: 0.3em;
  font-weight: bold;
  font-size: 1.3em;
  -webkit-clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
}
main .magazine .primary .header2 {
  width: 31%;
  background-color: var(--gray-9);
  margin-left: -1%;
  font-weight: bold;
  font-size: 1.3em;
  clip-path: polygon(6.8% 0%, 100% 0, 100% 100%, 0% 100%);
  -webkit-clip-path: polygon(6.8% 0%, 100% 0, 100% 100%, 0% 100%);
}
main .magazine .primary .title {
  font-size: 5.3em;
  width: 100%;
  text-align: center;
}
main .magazine .primary .column {
  width: calc(50% - 5px);
}
main .magazine .primary .column .principal {
  margin-bottom: 0.5em;
}
main .magazine .primary .column .principal figure {
  position: relative;
  line-height: 0;
}
main .magazine .primary .column .principal figure h2 {
  font-size: 3.5em;
}
main .magazine .primary .column .principal figure h2 span {
  position: absolute;
  color: var(--white);
  padding: 0 0.5em 0 0;
  font-style: italic;
  font-family: "Open Sans Bold";
  line-height: 1em;
}
main .magazine .primary .column .principal figure h2 span.first-name {
  top: 0.3em;
  right: 1.3em;
}
main .magazine .primary .column .principal figure h2 span.last-name {
  top: 1.5em;
  right: 0.3em;
}
main .magazine .primary .column .principal figure .ficha {
  position: absolute;
  bottom: 0.8em;
  color: var(--white);
  right: 0.8em;
  text-align: right;
  font-size: 0.8em;
  line-height: 1.3em;
}
main .magazine .primary .column .principal figure .ficha p strong {
  font-style: italic;
}
main .magazine .primary .column .principal figure img {
  width: 100%;
}
main .magazine .primary .column .col2 {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
}
main .magazine .primary .column .col2 .column-1 {
  width: calc(50% - 5px);
}
main .magazine .primary .column .col2 .column-1 .title-column {
  border-bottom: solid 2px var(--sky);
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  padding-right: 10%;
  margin-left: 5%;
}
main .magazine .primary .column .col2 .column-1 p {
  text-indent: 1.2em;
  margin: 1em 0;
  text-align: justify;
  font-size: 0.78em;
  line-height: 1.4em;
}
main .magazine .primary .column .col2 .column-1 .agenda {
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  border-bottom: solid 3px var(--gray-9);
}
main .magazine .primary .column .col2 .column-1 .agenda .img-agenda {
  flex-basis: 45%;
}
main .magazine .primary .column .col2 .column-1 .agenda .info {
  flex-basis: 55%;
  background-color: var(--red);
}
main .magazine .primary .column .col2 .column-1 .agenda .info .title-agenda {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  padding: 0.4em 0;
  font-size: 1.2em;
  background-color: var(--gray-6);
  margin: 1.2rem 0;
}
main .magazine .primary .column .col2 .column-1 .agenda .info .faixa {
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
  padding: 0.4em 0;
  background-color: var(--gray-6);
  margin: 2em 0 1em;
  position: relative;
}
main .magazine .primary .column .col2 .column-1 .agenda .info .faixa .data {
  position: absolute;
  top: 0;
  left: 10px;
  width: 60px;
  background-color: var(--gray-c);
  padding: 0.5em;
  color: var(--red);
  font-weight: bold;
  line-height: 1em;
}
main .magazine .primary .column .col2 .column-1 .agenda .info .faixa .data .dia {
  font-size: 2em;
}
main .magazine .primary .column .col2 .column-1 .agenda .info .faixa .data .mes {
  font-weight: bold;
}
main .magazine .primary .column .col2 .column-1 .agenda .info .faixa .local {
  font-size: 0.8em;
  line-height: 1em;
  padding-right: 0.5em;
  text-align: right;
}
main .magazine .primary .column .col2 .column-1 .agenda .info .faixa .local .loca {
  margin-bottom: -5px;
}
main .magazine .primary .column .col2 .column-1 .agenda .info .faixa .local small {
  font-size: 0.1em;
  text-transform: none;
}
main .magazine .primary .column .col2 .column-1 .agenda .info .contato {
  color: var(--white);
  font-size: 0.8em;
  text-align: center;
  line-height: 1em;
}
main .magazine .primary .column .col2 .column-1 .agenda .logo {
  flex-basis: 100%;
  padding: 0 0 0 2em;
}
main .magazine .primary .column .col2 .column-1 .agenda .logo img {
  margin-top: -20px;
}
main .magazine .primary .column .col2 .column-1 .img {
  margin-bottom: 8px;
}
main .magazine .primary .column .col2 .column-1 .banner {
  margin-top: 8px;
}
main .magazine .primary .column .col2 .column-1 .palavra {
  background-color: var(--yellow);
  padding: 10px 0 5px 0;
  margin-bottom: 10px;
}
main .magazine .primary .column .col2 .column-1 .palavra .title-column {
  border-bottom-color: var(--black);
}
main .magazine .primary .column .col2 .column-1 .palavra .block-palavras {
  width: 100%;
  margin: 15px 15px;
  font-size: 0.8em;
}
main .magazine .primary .column .col2 .column-1 .palavra .block-palavras .per {
  font-weight: bold;
}
main .magazine .primary .column .col2 .column-1 .palavra .block-palavras .res span {
  font-style: italic;
}
main .magazine .primary .column .col2 .column-1 .projeto-musa {
  position: relative;
}
main .magazine .primary .column .col2 .column-1 .projeto-musa .box-musa {
  position: absolute;
  top: 0.8em;
  left: 1em;
  color: var(--white);
  font-size: 0.8em;
}
main .magazine .primary .column .col2 .column-1 .projeto-musa .box-musa .title-musa {
  text-transform: uppercase;
}
main .magazine .primary .column .col2 .column-1 .projeto-musa .box-musa .linha {
  display: flex;
  margin: 0.2em 0;
}
main .magazine .primary .column .col2 .column-1 .projeto-musa .box-musa .linha .item1 {
  margin-right: 0.5em;
}
main .magazine .primary .column .col2 .column-1 .projeto-musa .box-musa .linha .item2 {
  font-weight: bolder;
}
main .magazine .gallery--video {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 10px;
}
main .magazine .gallery--video .gallery .title {
  font-size: 1.5em;
}
main .magazine .gallery--video .gallery .images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  position: relative;
}
main .magazine .gallery--video .gallery .images a {
  display: grid;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 97.5%;
  background-color: rgba(255, 128, 0, 0.7);
  color: #fff;
  font-size: 3em;
  font-weight: bolder;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: all 300ms ease;
}
main .magazine .gallery--video .gallery .images a:hover {
  opacity: 1;
}
main .magazine .gallery--video .gallery .images img {
  width: 100%;
}
main .magazine .gallery--video .video .title {
  font-size: 1.5em;
}
main .magazine .gallery--video .video a {
  position: relative;
  display: grid;
  place-items: center;
}
main .magazine .gallery--video .video a i {
  position: absolute;
  position: absolute;
  color: var(--orange);
  border: solid 5px var(--orange);
  background-color: var(--white);
  padding: 10px 10px 10px 20px;
  border-radius: 50%;
  opacity: 0.5;
  transition: 300ms;
}
main .magazine .gallery--video .video a:hover i {
  opacity: 1;
}
main .magazine .secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
main .magazine .secondary .column-1 {
  width: calc(50% - 6px);
}
main .magazine .secondary .column-2 {
  width: calc(50% - 6px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .magazine .secondary .column-2 .header {
  flex-basis: 100%;
  color: var(--white);
  text-transform: uppercase;
  background-color: var(--blue);
  padding: 0.3em;
  font-weight: bold;
  font-size: 1.3em;
  -webkit-clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 97% 100%, 0% 100%);
}
main .magazine .secondary .column-2 h1 {
  font-size: 3.7em;
  line-height: 1em;
  margin: 0.1em 0 0.3em;
}
main .magazine .secondary .column-2 .column-2-1 {
  width: 33%;
}
main .magazine .secondary .column-2 .column-2-1 .author {
  margin: 0 0 1em 1.2em;
  font-size: 0.78em;
}
main .magazine .secondary .column-2 .column-2-1 .author span {
  font-weight: bold;
  text-transform: uppercase;
}
main .magazine .secondary .column-2 .column-2-1 .texto-1c {
  line-height: 1.4em;
  font-size: 0.78em;
  text-align: justify;
  line-height: 1.4em;
}
main .magazine .secondary .column-2 .column-2-1 .texto-1c h2 {
  font-size: 1.2em;
  margin-left: 1em;
}
main .magazine .secondary .column-2 .column-2-1 .texto-1c h2.title-column {
  border-bottom: solid 2px var(--sky);
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 8%;
  margin-bottom: 0.1em;
}
main .magazine .secondary .column-2 .column-2-1 .texto-1c p {
  text-indent: 1.2em;
  margin: 0 0 1.2em 0;
}
main .magazine .secondary .column-2 .column-2-1 .texto-1c p:nth-last-child(1) {
  margin-bottom: 0;
}
main .magazine .secondary .column-2 .column-2-1 .texto-1c.border {
  border: solid 2px var(--dark-light-gray);
  padding: 0 1em;
}
main .magazine .secondary .column-2 .column-2-2 {
  width: 65%;
}
main .magazine .secondary .column-2 .column-2-2 figure {
  position: relative;
}
main .magazine .secondary .column-2 .column-2-2 figure img {
  width: 100%;
}
main .magazine .secondary .column-2 .column-2-2 figure .site {
  position: absolute;
  top: -1.3em;
  right: 0;
  font-size: 0.4em;
  font-weight: bold;
}
main .magazine .secondary .column-2 .column-2-2 figure .sub-photo {
  position: absolute;
  top: 1em;
  right: 1em;
  font-size: 0.7em;
  width: 19em;
  font-weight: bold;
}
main .magazine .secondary .column-2 .column-2-2 figure .subtitle-photo {
  font-size: 0.7em;
  font-weight: bold;
}
main .magazine .secondary .column-2 .column-2-2 .text-2c {
  font-size: 0.78em;
  text-align: justify;
  line-height: 1.4em;
  column-count: 2;
  column-gap: 1.2em;
  -moz-column-count: 2;
  -moz-column-gap: 1.2em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1.2em;
}
main .magazine .secondary .column-2 .column-2-2 .text-2c h2 {
  font-size: 1.2em;
  margin-left: 1em;
}
main .magazine .secondary .column-2 .column-2-2 .text-2c p {
  margin: 0 0 1.2em 0;
  text-indent: 1.2em;
}
main .magazine .secondary .column-2 .column-2-2 .text-2c p:nth-child(1) {
  text-indent: 0;
}
main .magazine .secondary .column-2 .space {
  width: 100%;
  margin: 0.7em 0;
}

.content-list {
  width: 100%;
}
.content-list header {
  margin-bottom: 1em;
}
.content-list section {
  display: flex;
  flex-wrap: wrap;
}
.content-list section .item {
  margin: 0 1em;
  width: calc(25% - 2em);
}
.content-list section .item img {
  width: 100%;
  border-radius: 20px;
  border: solid 2px var(--white);
  box-shadow: 1px 1px 5px var(--gray-shadown);
}
.content-list section .item .main_box_news_desc {
  position: relative;
}
.content-list section .item .main_box_news_desc .social {
  position: absolute;
  top: -3em;
  left: 0.5em;
  display: flex;
}
.content-list section .item .main_box_news_desc .social .social_item {
  margin: 0 0.2em;
  font-size: 1.2em;
}
.content-list section .item .main_box_news_desc .social .social_item a {
  background-color: var(--black-alpha-7);
  border-radius: 50%;
  width: 2.2rem;
  height: 2.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-list section .item .main_box_news_desc .social .social_item a:hover {
  background-color: var(--white);
  color: var(--orange);
}
.content-list section .item .main_box_news_desc .social .social_item .whatsapp {
  color: var(--green-whatsapp);
}
.content-list section .item .main_box_news_desc .social .social_item .facebook {
  color: var(--blue-facebook);
}
.content-list section .item .main_box_news_desc .social .social_item .twitter {
  color: var(--blue-twitter);
}
.content-list section .item .main_box_news_desc a {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.content-list section .item .main_box_news_desc a .categoria {
  color: var(--white);
  font-size: 0.7em;
  padding: 0.2em 0.8em;
  float: left;
  text-transform: uppercase;
}
.content-list section .item .main_box_news_desc a .tagline {
  font-size: 0.7em;
  color: var(--black);
  text-transform: uppercase;
}
.content-list section .item .main_box_news_desc a time {
  font-size: 0.6em;
  color: var(--gray-shadown);
  justify-self: flex-end;
}
.content-list section .item .main_box_news_desc a h1 {
  flex-basis: 100%;
  color: var(--dark-gray);
  transition: 300ms;
}
.content-list section .item .main_box_news_desc a h1:hover {
  color: var(--gray-shadown);
}

.paginator {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}
.paginator a.paginator_item {
  margin: 0 5px;
  padding: 0.8rem;
  transition: 300ms;
  color: var(--gray-shadown);
}
.paginator a.paginator_item:hover {
  background: var(--light-gray);
}
.paginator .paginator_active {
  background: var(--orange);
  color: var(--white);
  padding: 0.8rem;
}

.footer {
  background-color: var(--orange);
  padding-top: 10px;
}
.footer .copyright {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  padding-bottom: 10px;
}
.footer .menu {
  background-color: var(--black-alpha-5);
  padding: 10px 0;
}
.footer .menu nav {
  display: flex;
  justify-content: center;
}
.footer .menu nav ul {
  display: flex;
}
.footer .menu nav ul a {
  color: var(--white);
  margin: 0 5px;
  font-size: 0.8em;
  transition: 300ms;
}
.footer .menu nav ul a:hover {
  opacity: 0.7;
}

@media (max-width: 37em) {
  .container {
    padding: 0 0.5em;
  }

  .redes-sociais {
    display: none !important;
  }
}
@media (max-width: 49em) {
  .header .logo-menu {
    position: relative;
  }
  .header .logo-menu .menu-mobile {
    display: block;
  }
  .header .logo-menu nav {
    position: absolute;
    top: 80px;
    left: -260px;
    background-color: var(--orange);
    width: 250px;
    z-index: 100;
    padding-left: 20px;
    transition: 300ms;
  }
  .header .logo-menu nav ul {
    display: block;
  }
  .header .logo-menu nav ul li {
    margin: 1em 0;
  }
  .header .logo-menu .menu-active {
    left: -10px;
  }

  main .container {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    padding: 0 0.5em;
  }
  main .container .box-left {
    flex-basis: 100%;
  }
  main .container .box-left .slide .slider .conteudo {
    padding-bottom: 0;
    display: none;
  }
  main .container .box-left .slide .slider .conteudo.active {
    display: block;
  }
  main .container .box-left .slide .slider .conteudo a {
    flex-wrap: wrap;
  }
  main .container .box-left .slide .slider .conteudo a .titulo {
    margin: 0.3em 0 0 0 !important;
    font-size: 0.8em;
    line-height: 2.3em;
  }
  main .container .box-left .slide .slider .conteudo a .titulo h1 {
    margin: 0 !important;
  }
  main .container .box-left .category-title {
    flex-wrap: wrap;
  }
  main .container .box-left .category-title .mobile {
    font-size: 1.4em;
  }
  main .container .box-left .html-class img {
    width: 100%;
    margin: 5px 0 !important;
  }
  main .container .box-left .html-class iframe {
    width: 100% !important;
    height: 57vw !important;
    border: none;
  }
  main .container .box-left article .conteudo {
    margin: 1.25em 0;
  }
  main .container .box-left article .conteudo a {
    flex-wrap: wrap;
  }
  main .container .box-left article .conteudo a .img img {
    max-width: 100%;
  }
  main .container .box-left article .conteudo a .titulo {
    font-size: 0.8em;
  }
  main .container .box-left .videoContent iframe {
    width: 100%;
    height: 55vw;
    border: none;
  }
  main .container .box-right {
    flex-basis: 100%;
    margin-left: 0;
  }

  .content-list section .item {
    width: 100%;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: dotted var(--light-gray) 1px;
  }
  .content-list section .item:nth-last-of-type(1) {
    border-bottom: none;
  }

  .footer .copyright {
    flex-direction: column;
    padding: 0 1em;
  }
  .footer .copyright span {
    text-align: center;
  }

  main .magazine {
    padding: 0.5em;
  }
  main .magazine .primary .header {
    flex-basis: 100%;
  }
  main .magazine .primary .header2 {
    display: none;
  }
  main .magazine .primary .title {
    font-size: 2em;
  }
  main .magazine .primary .column {
    width: 100%;
  }
  main .magazine .primary .column .principal figure span {
    font-size: 0.4em;
  }
  main .magazine .primary .column .principal figure .ficha {
    font-size: 0.6em;
  }
  main .magazine .primary .column .col2 .column-1 {
    width: 100%;
  }
  main .magazine .primary .column .col2 .column-1 p {
    font-size: 1em;
  }
  main .magazine .primary .column .col2 .column-1 .agenda {
    display: none;
  }
  main .magazine .primary .column .col2 .column-1 .img img {
    width: 100%;
  }
  main .magazine .primary .column .col2 .column-1 .palavra .block-palavras {
    font-size: 1em;
  }
  main .magazine .primary .column .col2 .column-1 .projeto-musa .box-musa {
    font-size: 1em;
  }
  main .magazine .gallery--video {
    grid-template-columns: 1fr;
  }
  main .magazine .gallery--video .gallery .title {
    font-size: 1.3em;
  }
  main .magazine .gallery--video .gallery .images {
    grid-template-columns: repeat(2, 1fr);
  }
  main .magazine .gallery--video .gallery .images a {
    font-size: 2em;
  }
  main .magazine .gallery--video .gallery .images div:nth-child(4) {
    display: none;
  }
  main .magazine .gallery--video .video .title {
    font-size: 1.3em;
  }
  main .magazine .gallery--video .video a i {
    font-size: 2em;
    opacity: 0.7;
  }
  main .magazine .secondary {
    flex-wrap: wrap;
  }
  main .magazine .secondary .column-2 {
    width: 100%;
  }
  main .magazine .secondary .column-2 h1 {
    font-size: 2em;
  }
  main .magazine .secondary .column-2 .column-2-1 {
    width: 100%;
  }
  main .magazine .secondary .column-2 .column-2-1 .texto-1c p {
    font-size: 1em;
  }
  main .magazine .secondary .column-2 .column-2-2 {
    width: 100%;
  }
  main .magazine .secondary .column-2 .column-2-2 figure {
    margin: 10px 0;
    background-color: #ccc;
  }
  main .magazine .secondary .column-2 .column-2-2 figure .sub-photo {
    position: unset;
    width: 100%;
    padding: 5px;
  }
  main .magazine .secondary .column-2 .column-2-2 figure .subtitle-photo {
    padding: 5px;
  }
  main .magazine .secondary .column-2 .column-2-2 .text-2c {
    font-size: 1em;
    column-count: unset;
    -moz-column-count: unset;
    -webkit-column-count: unset;
  }
}